.questListWrap {
  display: flex;
  flex-direction: column;
}

.questList {
  display: flex;
  flex-direction: column;
}

.questItem {
  max-height: 138px;
  border-top: 1px solid var(--gray-stroke);
  background-color: var(--white-main);
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 342px;
  overflow: hidden;
  transition: all 250ms var(--cubic);
}

.questItem.five {
  max-height: 108px;
}

.questItem:last-child {
  border-bottom: 1px solid var(--gray-stroke);
}

.questList.second .questItem:first-child {
  border-top: unset;
}

.questItem.active {
  max-height: 1000px;
}

.questCount {
  display: none;
}

.questTitleWrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.questTitle {
  color: var(--gray-dark-text);
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  width: fit-content;
  height: 90px;
  width: 271px;
  user-select: none;
}

.questTitle.five {
  height: 60px;
}

.questTitle.second {
  width: 232px;
}

.questToggleBtn {
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--red-main);
  outline: none;
  transition: all 0.3s ease-in-out;
}

.questToggleBtn:hover {
  background-color: var(--white-main);
}

.toggleIcon {
  width: 14px;
  height: 17px;
  fill: var(--white-main);
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out;
}

.questToggleBtn:hover .toggleIcon {
  fill: var(--red-main);
}

.toggleIcon.active {
  transform: unset;
}

.questTextWrap {
  opacity: 0;
  transition: all 150ms ease-in-out;
}

.questTextWrap.active {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
  user-select: none;
  opacity: 1;
}

.questText {
  font-size: 14px;
  color: var(--gray-text);
  width: 342px;
  line-height: 160%;
}

.questConsultBtn {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-main);
  font-size: 15px;
  font-weight: 600;
  width: 181px;
  height: 56px;
  background-color: var(--red-main);
  border: none;
  border-radius: 28px;
  transition:
    border-color 250ms var(--cubic),
    color 250ms var(--cubic),
    background-color 250ms var(--cubic);
}

.questConsultBtn:hover {
  border-color: var(--white-main);
  background-color: var(--white-main);
  color: var(--red-main);
}

@media screen and (min-width: 1440px) {
  .questItem {
    width: 100%;
    padding: 3.2rem 0;
    max-height: 11.8rem;
    position: relative;
  }

  .questItem.five {
    max-height: 12.8rem;
  }

  .questItem.six {
    max-height: 13.6rem;
  }

  .questItem.five.active,
  .questItem.six.active {
    max-height: 100rem;
  }

  .questCount {
    display: block;
    color: var(--black-main);
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 130%;
  }

  .questTitleWrap {
    justify-content: unset;
    gap: 17.2rem;
  }

  .questTitle {
    width: 67.9rem;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 130%;
    color: var(--black-main);
    height: fit-content;
  }

  .questTitle.five {
    height: unset;
  }

  .questTitle.second {
    width: 67.9rem;
  }

  .questTextWrap {
    width: fit-content;
    margin-left: 20.3rem;
  }

  .questText {
    width: 87.5rem;
    font-size: 1.6rem;
  }

  .questConsultBtn {
    width: 18.9rem;
    height: 6rem;
    border-radius: 3.2rem;
    font-size: 1.5rem;
  }

  .questToggleBtn {
    width: 5.4rem;
    height: 5.4rem;
    position: absolute;
    right: 4.9rem;
    top: 3.2rem;
  }

  .questToggleIcon {
    width: 1.7rem;
    height: 1.8rem;
  }
}

@media screen and (min-width: 1728px) {
  .questItem {
    padding: 32px 0;
    max-height: 118px;
  }

  .questItem.five {
    max-height: 128px;
  }

  .questItem.six {
    max-height: 136px;
  }

  .questItem.five.active,
  .questItem.six.active {
    max-height: 1000px;
  }

  .questCount {
    font-size: 28px;
  }

  .questTitleWrap {
    gap: 172px;
  }

  .questTitle {
    width: 679px;
    font-size: 24px;
  }

  .questTitle.second {
    width: 679px;
  }

  .questTextWrap {
    margin-left: 203px;
  }

  .questText {
    width: 875px;
    font-size: 16px;
  }

  .questConsultBtn {
    width: 189px;
    height: 60px;
    font-size: 15px;
    border-radius: 32px;
  }

  .questToggleBtn {
    width: 54px;
    height: 54px;
    right: 49px;
    top: 32px;
  }

  .questToggleIcon {
    width: 17px;
    height: 18px;
  }
}
