@keyframes fadeToggleOpen {
  0% {
    opacity: 0;
    max-height: 0;
  }

  100% {
    opacity: 1;
    max-height: 1000px;
  }
}

@keyframes fadeToggleClose {
  0% {
    opacity: 1;
    max-height: 1000px;
    margin-top: 8px;
  }

  70% {
    margin-top: 8px;
  }
  90% {
    opacity: 1;
  }
  100% {
    margin-top: 0px;
    opacity: 0;
    max-height: 0;
  }
}

.questListWrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.questList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.questItem {
  border-radius: 6px;
  border: 1px solid var(--gray-stroke);
  background-color: var(--white-main);
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 100%;
  transition: border-color 250ms var(--cubic);
}

.questItem:hover {
  border-color: var(--black-main);
}

.questItem.open:hover {
  border-color: var(--gray-stroke);
}

.questTitleWrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.questTitle {
  color: var(--gray-dark-text);
  font-size: 16px;
  font-weight: 600;
  line-height: 160%;
  width: fit-content;
  max-width: 272px;
}
.questToggleBtn {
  border: none;
  background-color: transparent;
}

.toggleIcon {
  width: 20px;
  height: 20px;
  stroke: var(--gray-dark-text);
  transform: rotate(180deg);
  transition: transform 250ms var(--cubic);
}

.toggleIcon.visible {
  transform: unset;
}

.questTextWrap {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
}

.questTextWrap.visible {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  max-height: 1000px;
  animation: fadeToggleOpen 0.6s var(--cubic);
  opacity: 1;
}
.questTextWrap.hidden {
  animation: fadeToggleClose 0.2s var(--cubic);
}
.questText {
  color: var(--gray-text);
  line-height: 160%;
}
.questConsultBtn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  color: var(--white-main);
  font-size: 15px;
  font-weight: 600;
  width: 181px;
  height: 42px;
  background-color: var(--red-main);
  border: none;
  border-radius: 6px;
}

@media screen and (min-width: 390px) {
}

@media screen and (min-width: 1728px) {
  .questListWrap {
    gap: 20px;
    flex-direction: row;
  }

  .questList {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
  }

  .questItem {
    width: 598px;
  }

  .questTitle {
    width: fit-content;
    max-width: 523px;
  }
  .questToggleBtn {
  }
  .questTextWrap {
  }
  .questText {
    max-width: 533px;
  }
  .questConsultBtn {
  }
}
