.questList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.questItem {
  border-radius: 6px;
  border: 1px solid var(--gray-stroke);
  background-color: var(--white-main);
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  height: auto;
}

.open {
}

.questTitleWrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.questTitle {
  color: var(--gray-dark-text);
  font-size: 16px;
  font-weight: 600;
  line-height: 160%;
  width: fit-content;
  max-width: 272px;
}
.questToggleBtn {
  border: none;
  background-color: transparent;
  width: 20px;
  height: 20px;
}

.toggleIcon {
  stroke: var(--gray-dark-text);
  transform: rotate(180deg);
  transition: transform 250ms var(--cubic);
}

.toggleIcon.visible {
  transform: unset;
}

.questTextWrap {
  display: none;
}

.questTextWrap.visible {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.questText {
  color: var(--gray-text);
  line-height: 160%;
}
.questConsultBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  color: var(--white-main);
  font-size: 15px;
  font-weight: 600;
  width: 181px;
  height: 42px;
  background-color: var(--red-main);
  border: none;
  border-radius: 6px;
}

@media screen and (min-width: 390px) {
}

@media screen and (min-width: 1728px) {
  .questList {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 20px;
  }
  .questItem {
    width: 598px;
    height: 100%;
  }
  .questItem:nth-child(1) {
    order: 1;
  }
  .questItem:nth-child(2) {
    order: 3;
  }
  .questItem:nth-child(3) {
    order: 5;
  }
  .questItem:nth-child(4) {
    order: 2;
  }
  .questItem:nth-child(5) {
    order: 4;
  }
  .questItem:nth-child(6) {
    order: 6;
  }
  .questTitle {
    width: fit-content;
    max-width: 523px;
  }
  .questToggleBtn {
  }
  .questTextWrap {
  }
  .questText {
    max-width: 533px;
  }
  .questConsultBtn {
  }
}
