.leadAmenitiesList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 342px;
  height: 320px;
  gap: 22px 20px;
  margin: 0 auto;
}
.leadAmenitiesItem {
  width: 161px;
}

.leadAmenitiesIcon {
}

.leadAmenitiesTitle {
  color: var(--gray-dark-text);
  font-size: 18px;
  font-weight: 600;
  line-height: 155%;
  letter-spacing: -0.18px;
  margin-right: auto;
  margin-bottom: 5px;
}
.leadAmenitiesText {
  color: var(--gray-text);
  font-size: 14px;
  font-weight: 300;
  line-height: 171%;
  letter-spacing: -0.14px;
}
