.container {
  width: 375px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 390px) {
  .container {
    width: 390px;
    padding: 0 24px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 172.8rem;
    padding: 0 18.6rem;
  }
}

@media screen and (min-width: 1728px) {
  .container {
    width: 1728px;
    padding: 0 186px;
  }
}
