.jobsSelectForm {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

@media screen and (min-width: 1440px) {
  .jobsSelectForm {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3.3rem;
  }
}

@media screen and (min-width: 1728px) {
  .jobsSelectForm {
    gap: 33px;
  }
}
