.menuList {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
}

.menuItem {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: fit-content;
}

.menuItemTitle {
  color: var(--gray-text);
  font-size: 16px;
  font-weight: 600;
  line-height: 160%;
  width: fit-content;
  user-select: none;
}

.menuLink {
  color: var(--white-main);
  width: fit-content;
  font-size: 18px;
  line-height: 160%;
  transition: color 250ms var(--cubic);
}

.menuLink:hover {
  color: var(--gray-text);
}
