.sliderDots {
  display: flex;
  gap: 10px;
}

.sliderDot {
  border-radius: 50%;
  width: 6px;
  background-color: rgba(255, 255, 255, 0.4);
  height: 6px;
  transition: background-color 250ms var(--cubic);
}

.sliderDot.active {
  background-color: var(--white-main);
}

.sliderDots.team {
  margin: 0 auto;
  width: 29px;
  gap: 4px;
}

.sliderDot.team {
  background-color: var(--gray-stroke);
  border-radius: 50%;
  width: 7px;
  height: 7px;
}

.sliderDot.active.team {
  background-color: var(--black-main);
}

.sliderDots.vision {
  margin-right: auto;
  width: 29px;
  gap: 4px;
}

.sliderDot.vision {
  border-color: var(--gray-stroke);
  border: 1px solid var(--gray-stroke);
  background-color: transparent;
  border-radius: 50%;
  width: 7px;
  height: 7px;
}

.sliderDot.active.vision {
  background-color: var(--white-main);
}
