.pricingPlansSection {
  padding: 64px 0 23px;
  margin: 0 auto;
  overflow: hidden;
}

.sliderWrap {
  height: 705px;
  margin: 0 auto;
  width: 442px;
  padding-left: 30px;
  padding-bottom: 42px;
}

.slideWrap {
  height: fit-content;
  margin-top: auto;
  width: 296px;
}

.pricingPlansWrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.pricingPlansHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 32px;
}

.plansTitle {
  font-size: 30px;
  font-weight: 700;
  line-height: 130%;
  max-width: 320px;
  color: var(--black-main);
  margin: 0 auto;
  margin-bottom: 12px;
}

.plansText {
  font-size: 16px;
  font-weight: 300;
  width: 342px;
  margin: 0 auto;
  line-height: 160%;
  color: var(--gray-text);
}

.pricingPlansItems {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1440px) {
  .pricingPlansSection {
    padding: 10rem 0;
  }

  .pricingPlansWrap {
    gap: 22.3rem;
  }

  .pricingPlansHeader {
    width: max-content;
    max-width: 72.9rem;
  }

  .plansTitle {
    font-size: 5rem;
    max-width: max-content;
    margin-bottom: 1.6rem;
  }

  .plansText {
    font-size: 1.8rem;
    width: 70.8rem;
    margin: 0 auto;
  }

  .pricingPlansItems {
    flex-direction: row;
    gap: 2rem;
  }
}

@media screen and (min-width: 1728px) {
  .pricingPlansSection {
    padding: 100px 0;
  }

  .pricingPlansWrap {
    gap: 223px;
  }

  .pricingPlansHeader {
    max-width: 729px;
  }

  .plansTitle {
    font-size: 50px;
    margin-bottom: 16px;
  }

  .plansText {
    font-size: 18px;
    width: 708px;
  }

  .pricingPlansItems {
    gap: 20px;
  }
}
