.stepSixMainWrap {
  padding: 24px 0 0px;
}

.stepSixMainTitle {
  color: var(--neutral-main);
  font-size: 22px;
  font-weight: 600;
  line-height: 160%;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 8px;
}

.stepSixText {
  color: var(--gray-text);
  font-size: 16px;
  width: 342px;
  line-height: 160%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 24px;
  height: 58px;
}

@media screen and (min-width: 1440px) {
  .stepSixMainWrap {
    padding: 4.4rem 0 0;
    height: 56.3rem;
    display: flex;
    flex-direction: column;
  }

  .stepSixMainTitle {
    font-size: 2.8rem;
    line-height: normal;
    margin-bottom: 0.8rem;
    width: fit-content;
  }

  .stepSixText {
    font-size: 1.8rem;
    width: 41.8rem;
    margin-bottom: 4.8rem;
    height: 5.8rem;
  }
}

@media screen and (min-width: 1728px) {
  .stepSixMainWrap {
    padding: 44px 0 0px;
    height: 563px;
  }

  .stepSixMainTitle {
    font-size: 28px;
    margin-bottom: 8px;
  }

  .stepSixText {
    font-size: 18px;
    height: 58px;
    width: 418px;
    margin-bottom: 48px;
  }
}
