.googleComSection {
  padding: 32px 0 64px;
  background-color: var(--white-main);
}

.googleComTitle {
  color: var(--black-main);
  font-size: 30px;
  font-weight: 700;
  line-height: 130%;
  width: 309px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
}

@media screen and (min-width: 1440px) {
  .googleComSection {
    padding: 10rem 15.7rem 20rem;
  }

  .googleComTitle {
    font-size: 5rem;
    width: 57.8rem;
    margin-bottom: 5rem;
  }
}

@media screen and (min-width: 1728px) {
  .googleComSection {
    padding: 100px 157px 200px;
  }

  .googleComTitle {
    font-size: 50px;
    width: 578px;
    margin-bottom: 50px;
  }
}
