.googleComSection {
  padding: 32px 0 64px;
  background-color: var(--white-main);
}

.googleComContainer {
}

.googleComContainer {
}

.googleComTitle {
  color: var(--black-main);
  font-size: 30px;
  font-weight: 700;
  line-height: 130%;
  width: 309px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
}

@media screen and (min-width: 1440px) {
  .googleComSection {
    padding: 15rem 0 10rem 0;
  }

  .googleComContainer {
    width: 172.8rem;
    padding: 0 12.1rem;
    margin: 0 auto;
  }

  .googleComTitle {
    font-size: 5rem;
    width: fit-content;
    margin: unset;
    margin-bottom: 1.6rem;
    margin-right: auto;
    margin-left: 5rem;
    font-weight: 600;
  }
}

@media screen and (min-width: 1728px) {
  .googleComSection {
    padding: 150px 0 100px 0;
  }

  .googleComContainer {
    width: 1728px;
    padding: 0 121px;
  }

  .googleComTitle {
    font-size: 50px;
    margin-bottom: 16px;
    margin-left: 50px;
  }
}
