.stepThreeList {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 20px;
  height: 344px;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 160px;
}

.stepThreeItem {
  border-radius: 9.431px;
  border: 0.802px solid var(--gray-stroke);
  background-color: var(--white-main);
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
  cursor: pointer;
  transition: background-color 250ms var(--cubic);
}

.stepThreeItem.active {
  background-color: var(--red-main);
}

.stepThreeWrap {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stepThreeTitle {
  color: #39383c;
  font-size: 15px;
  font-weight: 500;
  transition: color 250ms var(--cubic);
}

.stepThreeTitle.active {
  color: var(--gray-input);
}

.stepThreeIconWrap {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stepThreeIcon {
  fill: var(--gray-dark-text);
  transition: fill 250ms var(--cubic);
}

.first {
  width: 61px;
}

.second {
  height: 43px;
}

.third {
  width: 61px;
  height: 61px;
}

.fourth {
  width: 80px;
  height: 80px;
}

.stepThreeIcon.active {
  fill: var(--white-main);
}

@media screen and (min-width: 1728px) {
  .stepThreeList {
    width: 360px;
    height: 360px;
    margin: 0 auto;
    margin-bottom: 46px;
    gap: 20px;
  }

  .stepThreeItem {
    width: 170px;
    height: 170px;
  }

  .stepThreeWrap {
    gap: 22px;
  }

  .stepThreeTitle {
    font-size: 16px;
  }

  .stepThreeIconWrap {
    width: 85px;
    height: 85px;
  }

  .first {
    width: 65px;
    height: 65px;
  }

  .second {
    width: 65px;
    height: 65px;
  }

  .third {
    width: 65px;
    height: 65px;
  }

  .fourth {
    width: 85px;
    height: 85px;
  }
}
