.contactUsSection {
  background-color: var(--white-main);
  padding: 32px 0 64px;
}

.contactUsMainWrap {
  display: flex;
  flex-direction: column;
  gap: 54px;
}

.contactUsMainTitle {
  color: var(--black-main);
  font-size: 24px;
  font-weight: 700;
  line-height: 130%;
  width: fit-content;
  margin-bottom: 16px;
}

.contactUsText {
  color: var(--gray-text);
  font-size: 16px;
  line-height: 160%;
  text-align: left;
  width: 335px;
  margin-right: auto;
  margin-bottom: 24px;
}

@media screen and (min-width: 1440px) {
  .contactUsSection {
    padding: 18.4rem 0;
  }

  .contactUsMainWrap {
    flex-direction: row;
    gap: 16rem;
    justify-content: space-between;
  }

  .contactUsFormWrap {
    width: 53rem;
    height: 52.2rem;
  }

  .contactUsTitle {
    font-size: 1.4rem;
    line-height: 160%;
  }

  .contactUsLink {
    font-size: 1.4rem;
    line-height: 143%;
    letter-spacing: -0.01rem;
    cursor: pointer;
  }

  .contactUsLink.address {
    letter-spacing: unset;
    line-height: 160%;
    width: 100%;
    cursor: unset;
  }

  .contactUsBr {
    display: block;
  }

  .contactUsMainTitle {
    font-size: 3.4rem;
  }
  .contactUsText {
    width: 53rem;
    margin-bottom: 3.2rem;
  }
}

@media screen and (min-width: 1728px) {
  .contactUsSection {
    padding: 184px 0;
  }

  .contactUsMainWrap {
    gap: 160px;
  }

  .contactUsFormWrap {
    width: 530px;
    height: 522px;
  }

  .contactUsTitle {
    font-size: 14px;
  }

  .contactUsLink {
    font-size: 14px;
    letter-spacing: -0.1px;
  }

  .contactUsMainTitle {
    font-size: 34px;
  }
  .contactUsText {
    width: 530px;
    margin-bottom: 32px;
  }
}
