.impressumSection {
  padding: 64px 0px;
}

@media screen and (min-width: 1440px) {
  .impressumSection {
    padding: 10rem 0;
  }
}

@media screen and (min-width: 1728px) {
  .impressumSection {
    padding: 100px 0px;
  }
}
