.jobsList {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.jobsItem {
  padding: 32px 25px 36px;
  border-radius: 16px;
  border: 1px solid var(--gray-stroke);
  background-color: var(--white-main);
  width: 342px;
  height: 486px;
}

.jobsTopWrap {
  margin-bottom: 18px;
}

.jobsTitle {
  color: var(--black-main);
  font-size: 24px;
  font-weight: 600;
  line-height: 130%;
  width: fit-content;
  margin-right: auto;
  margin-bottom: 12px;
}

.jobsTimeWrap {
  display: flex;
  padding: 10px 19px;
  justify-content: center;
  align-items: center;
  border-radius: 28px;
  background-color: var(--gray-input);
  width: 118px;
  height: 40px;
}

.jobsTimeType {
  color: var(--red-main);
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: auto;
}

.jobsWrap {
  margin-bottom: 36px;
}

.jobsText {
  color: var(--gray-text);
  font-size: 15px;
  line-height: 150%;
  text-align: left;
  margin-right: auto;
  width: 292px;
  height: 138px;
  margin-bottom: 12px;
}

.jobsLocation {
  color: var(--black-main);
  font-size: 15px;
  font-weight: 500;
  width: fit-content;
  margin-right: auto;
}

.jobsBottomWrap {
  display: flex;
  flex-direction: column;
  width: 292px;
  gap: 14px;
}

.jobsLink,
.jobsBtn {
  font-size: 15px;
  border-radius: 28px;
  line-height: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 292px;
  height: 48px;
  margin: 0 auto;
}

.jobsLink {
  color: var(--gray-input);
  padding: 12px 111px;
  font-weight: 700;
  background-color: var(--red-main);
  border: 1px solid transparent;
  transition:
    border-color 250ms var(--cubic),
    color 250ms var(--cubic),
    background-color 250ms var(--cubic);
}

.jobsBtn {
  color: var(--black-main);
  padding: 12px 76px;
  font-weight: 500;
  border: 1px solid var(--gray-stroke);
  background-color: transparent;
  transition:
    border-color 250ms var(--cubic),
    color 250ms var(--cubic),
    background-color 250ms var(--cubic);
}

.jobsLink:hover {
  border-color: var(--white-main);
  background-color: var(--white-main);
  color: var(--red-main);
}

.jobsBtn:hover {
  border-color: var(--red-main);
  background-color: var(--red-main);
  color: var(--white-main);
}

.jobsErrorText {
  color: var(--gray-text);
  font-size: 22px;
  line-height: 150%;
  width: fit-content;
  margin: 0 auto;
}

.loader {
  width: fit-content;
  margin: 0 auto;
}

.loader > svg {
  width: 85px;
}

@media screen and (min-width: 1440px) {
  .jobsList {
    gap: 3.2rem;
  }

  .jobsItem {
    width: 122rem;
    height: 23rem;
    padding: 4.8rem 4.8rem 4.8rem 6.8rem;
    display: flex;
    border-radius: 1.2rem;
    flex-direction: row;
    justify-content: space-between;
  }

  .jobsTopWrap {
    margin-bottom: unset;
    width: 24rem;
  }

  .jobsTitle {
    line-height: normal;
    letter-spacing: -0.0456rem;
    margin-bottom: 2.2rem;
  }

  .jobsTimeWrap {
    border-radius: 0.6rem;
  }

  .jobsTimeType {
    letter-spacing: -0.0304rem;
  }

  .jobsWrap {
    margin-bottom: unset;
  }

  .jobsText {
    font-size: 1.6rem;
    width: 44.6rem;
    height: 9.6rem;
    margin-bottom: 1.8rem;
  }

  .jobsLocation {
    font-size: 1.6rem;
  }

  .jobsBottomWrap {
    gap: 1.2rem;
    width: fit-content;
  }

  .jobsLink,
  .jobsBtn {
    width: 18.8rem;
    font-size: 1.5rem;
    border-radius: 0.6rem;
  }

  .jobsLink {
    padding: 1.2rem 5.9rem;
  }

  .jobsBtn {
    padding: 1.2rem 2.4rem;
  }

  .jobsErrorText {
    font-size: 2.4rem;
  }

  .loader > svg {
    width: 1.1rem;
  }
}

@media screen and (min-width: 1728px) {
  .jobsList {
    gap: 32px;
  }

  .jobsItem {
    width: 1220px;
    height: 230px;
    padding: 48px 48px 48px 68px;
    display: flex;
    border-radius: 12px;

    flex-direction: row;
    justify-content: space-between;
  }

  .jobsTopWrap {
    margin-bottom: unset;
    width: 240px;
  }

  .jobsTitle {
    line-height: normal;
    letter-spacing: -0.456px;
    margin-bottom: 22px;
  }

  .jobsTimeWrap {
    border-radius: 6px;
  }

  .jobsTimeType {
    letter-spacing: -0.304px;
  }

  .jobsWrap {
    margin-bottom: unset;
  }

  .jobsText {
    font-size: 16px;
    width: 446px;
    height: 96px;
    margin-bottom: 18px;
  }

  .jobsLocation {
    font-size: 16px;
  }

  .jobsBottomWrap {
    gap: 12px;
    width: fit-content;
  }

  .jobsLink,
  .jobsBtn {
    width: 188px;
    border-radius: 6px;
    font-size: 15px;
  }

  .jobsLink {
    padding: 12px 59px;
  }

  .jobsBtn {
    padding: 12px 24px;
  }

  .jobsErrorText {
    font-size: 24px;
  }

  .loader > svg {
    width: 110px;
  }
}
