.offerSection {
  padding: 90px 0;
}

.offerContainer {
  width: 100%;
  padding: 0 24px;
  margin: 0 auto;
}

.offerMainTitle {
  color: var(--gray-dark-text);
  font-size: 30px;
  font-weight: 700;
  line-height: 130%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 12px;
}

.offerMainText {
  color: var(--gray-text);
  text-align: center;
  font-size: 16px;
  line-height: 160%;
  margin: 0 auto;
  margin-bottom: 48px;
}

.offerMainBtn {
  margin: 0 auto;
  margin-top: 54px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-input);
  padding: 16px 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  border-radius: 6px;
  background-color: var(--red-second);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
  transition:
    border-color 250ms var(--cubic),
    color 250ms var(--cubic),
    background-color 250ms var(--cubic),
    box-shadow 250ms var(--cubic);
}

.offerMainBtn:hover {
  border-color: var(--white-main);
  background-color: var(--white-main);
  color: var(--red-main);
  box-shadow: unset;
}

@media screen and (min-width: 390px) {
  .offerContainer {
    width: 390px;
  }
}

@media screen and (min-width: 1440px) {
  .offerSection {
    padding: 11rem 0;
  }
  .offerContainer {
    width: 172.8rem;
    padding: 0 25.5rem;
  }

  .offerMainTitle {
    color: var(--black-main);
    font-size: 5rem;
    margin-bottom: 1.6rem;
  }
  .offerMainText {
    font-size: 1.8rem;
    margin-bottom: 5.4rem;
    width: 80rem;
  }
  .offerMainBtn {
    padding: 1.6rem 0;
    width: 13.4rem;
  }
}


@media screen and (min-width: 1728px) {
  .offerSection {
    padding: 110px 0;
  }
  .offerContainer {
    width: 1728px;
    padding: 0 255px;
  }

  .offerMainTitle {
    font-size: 50px;
    margin-bottom: 16px;
  }
  .offerMainText {
    font-size: 18px;
    margin-bottom: 54px;
    width: 800px;
  }
  .offerMainBtn {
    padding: 16px 31px;
    width: 134px;
  }
}
