.leadHeroSection {
  width: 100%;
  height: 202px;
  background-image: url('/images/lead-hero-mob.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.leadHeroContainer {
  width: 100%;
  padding: 0 24px;
  margin: 0 auto;
}

@media screen and (min-width: 390px) {
  .leadHeroContainer {
    width: 390px;
  }
}

@media screen and (min-width: 1728px) {
  .leadHeroSection {
    height: 972px;
    padding: 159px 0 87px;
    background-image: url('/images/lead-hero-desc.jpg');
  }
  .leadHeroContainer {
    width: 1728px;
    padding: 0 873px 0 117px;
  }
}
