.leadHeroSection {
  width: 100%;
  height: 202px;
  position: relative;
}

.leadHeroContainer {
  width: 100%;
  padding: 0 24px;
  margin: 0 auto;
}

.leadHeroImgMob {
  object-fit: cover;
}

.leadHeroImgDesc {
  display: none;
  object-fit: cover;
}

@media screen and (min-width: 390px) {
  .leadHeroContainer {
    width: 390px;
  }
}

@media screen and (min-width: 1440px) {
  .leadHeroSection {
    height: 97.2rem;
    padding: 15.9rem 0 8.7rem;
  }

  .leadHeroContainer {
    width: 172.8rem;
    padding: 0 87.3rem 0 11.7rem;
  }

  .leadHeroImgMob {
    display: none;
  }

  .leadHeroImgDesc {
    display: block;
  }
}

@media screen and (min-width: 1728px) {
  .leadHeroSection {
    height: 972px;
    padding: 159px 0 87px;
  }

  .leadHeroContainer {
    width: 1728px;
    padding: 0 873px 0 117px;
  }
}
