.stepOneWrap {
}

.stepOneTitle {
  color: var(--black-main);
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  line-height: 130%;
  width: 278px;
  margin: 0 auto;
  margin-bottom: 18px;
}

.stepOneText {
  display: none;
}

@media screen and (min-width: 1440px) {
  .stepOneWrap {
  }

  .stepOneTitle {
    font-size: 3.6rem;
    line-height: 140%;
    width: fit-content;
    margin-bottom: 0.8rem;
  }
  .stepOneText {
    display: block;
  }
}

@media screen and (min-width: 1728px) {
  .stepOneWrap {
  }

  .stepOneTitle {
    font-size: 44px;
    margin-bottom: 12px;
    line-height: 120%;
    width: fit-content;
  }

  .stepOneText {
    color: var(--gray-text);
    width: 527px;
    margin: 0 auto;
    font-size: 18px;
    margin-bottom: 56px;
    font-weight: 300;
    line-height: 160%;
  }
}
