.stepOneWrap {
}

.stepOneTitle {
  color: var(--black--main);
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  width: 292px;
  margin: 0 auto;
  margin-bottom: 12px;
}

.stepOneText {
  color: var(--gray-text);
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 24px;
}

.stepOneBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  border: 1px solid var(--red-stroke);
  width: 168px;
  height: 60px;
  margin: 0 auto;
  background-color: var(--red-main);
  outline: none;
  color: var(--white-main);
  font-size: 18px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.stepOneBtn:disabled {
  background-color: var(--white-main);
  border: 1px solid var(--gray-stroke);
  color: var(--black-main);
  cursor: not-allowed;
}

@media screen and (min-width: 390px) {
  .stepOneWrap {
  }
}

@media screen and (min-width: 1440px) {
  .stepOneWrap {
  }
}

@media screen and (min-width: 1728px) {
  .stepOneWrap {
  }
}
