.karriereHeroSection {
  padding: 134px 0 64px;
}

.karriereHeroContainer {
  width: 342px;
  margin: 0 auto;
  position: relative;
  height: 602px;
}

.heroImgWrap {
  width: 100%;
  height: 100%;
}

.nextSlideBtn,
.prevSlideBtn {
  display: none;
}

@media screen and (min-width: 1728px) {
  .karriereHeroSection {
    padding: 118px 0 79px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 19px;
  }

  .karriereHeroContainer {
    width: 1356px;
    height: 772px;
    margin: unset;
  }

  .nextSlideBtn,
  .prevSlideBtn {
    background-color: var(--white-main);
    border: 1px solid var(--gray-stroke);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition:
      border-color 250ms var(--cubic),
      background-color 250ms var(--cubic);
  }

  .nextSlideBtn {
    transform: rotate(180deg);
  }

  .slideIcon {
    stroke: var(--gray-text);
    transition: stroke 250ms var(--cubic);
  }

  .nextSlideBtn:hover,
  .prevSlideBtn:hover {
    border-color: var(--red-main);
    background-color: var(--red-main);
  }

  .nextSlideBtn:hover .slideIcon,
  .prevSlideBtn:hover .slideIcon {
    stroke: var(--white-main);
  }
}
