.videoSection {
  padding: 60px 0;
}

.videoMainWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

.videoFrame {
  border: none;
  width: 340px;
  height: 209px;
  object-fit: cover;
}

.videoTextWrap {
  width: 100%;
}

.videoTitle {
  color: var(--black-main);
  font-size: 24px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 14px;
}

.videoText {
  color: var(--gray-text);
  font-size: 16px;
  line-height: 160%;
  width: fit-content;
}

@media screen and (min-width: 390px) {
}

@media screen and (min-width: 1440px) {
  .videoSection {
    padding: 15rem 0 10rem;
  }

  .videoMainWrap {
    flex-direction: row;
    gap: 16rem;
    align-items: center;
  }

  .videoFrame {
    width: calc(100% / 2);
    height: 38rem;
  }

  .left {
    order: -1;
  }

  .right {
    order: 1;
  }

  .videoTextWrap {
    width: 53rem;
  }

  .videoTitle {
    font-size: 3.4rem;
    margin-bottom: 1.6rem;
  }

  .videoText {
    width: 53rem;
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1728px) {
  .videoSection {
    padding: 150px 0 100px;
    overflow: hidden;
  }

  .videoMainWrap {
    gap: 160px;
  }

  .videoFrame {
    height: 420px;
  }

  .videoTextWrap {
    width: 530px;
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
    transition: all 0.4s;
  }

  .videoTextWrapVisible {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }

  .videoTitle {
    font-size: 34px;
    margin-bottom: 16px;
  }

  .videoText {
    width: 530px;
    font-size: 16px;
  }
}
