.videoSection {
  padding: 60px 0;
}
.videoMainWrap {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.videoFrame {
  border: none;
  width: 342px;
  height: 216px;
  object-fit: cover;
}

.videoTitle {
  color: var(--black-main);
  font-size: 24px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 14px;
}
.videoText {
  color: var(--gray-text);
  font-size: 16px;
  line-height: 160%;
  width: fit-content;
}

@media screen and (min-width: 390px) {
}

@media screen and (min-width: 1728px) {
  .videoSection {
    padding: 150px 0 100px;
  }
  .videoMainWrap {
    flex-direction: row;
    gap: 160px;
    align-items: center;
  }
  .videoFrame {
    width: calc(100% / 2);
    height: 420px;
  }

  .left {
    order: -1;
  }

  .right {
    order: 1;
  }

  .videoTextWrap {
    width: 530px;
  }
  .videoTitle {
    font-size: 34px;
    margin-bottom: 16px;
  }
  .videoText {
    width: 530px;
  }
}
