.stepThreeWrap {
}

.stepThreeTitle {
  color: var(--black-main);
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  line-height: 130%;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 8px;
}

.stepThreeText {
  color: var(--gray-text);
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  line-height: 160%;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 32px;
}

@media screen and (min-width: 1440px) {
  .stepThreeWrap {
  }

  .stepThreeTitle {
    font-size: 4.4rem;
    margin-bottom: 1.2rem;
  }

  .stepThreeText {
    font-size: 1.8rem;
    margin-bottom: 3.6rem;
  }
}

@media screen and (min-width: 1728px) {
  .stepThreeWrap {
  }

  .stepThreeTitle {
    font-size: 44px;
    margin-bottom: 12px;
  }

  .stepThreeText {
    font-size: 18px;
    margin-bottom: 36px;
  }
}
