.teamSection {
  background-color: var(--white-main);
  padding: 72px 0 95px;
}

.teamMainWrap {
  display: flex;
  flex-direction: column;
  gap: 47px;
}

.teamTitle {
  color: var(--black-main);
  font-size: 30px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 16px;
}

.teamText {
  color: var(--gray-text);
  font-size: 16px;
  line-height: 160%;
  width: 272px;
  margin-bottom: 30px;
}

.teamBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 20px;
  color: var(--gray-input);
  font-size: 16px;
  font-weight: 600;
  width: 170px;
  height: 48px;
  background-color: var(--red-main);
  border: none;
  border-radius: 6px;
  gap: 8px;
  transition:
    border-color 250ms var(--cubic),
    color 250ms var(--cubic),
    background-color 250ms var(--cubic);
}

.teamIcon {
  stroke: var(--gray-input);
  transition: stroke 250ms var(--cubic);
}

.teamBtn:hover {
  border-color: var(--white-main);
  background-color: var(--white-main);
  color: var(--red-main);
}

.teamBtn:hover .teamIcon {
  stroke: var(--red-main);
}

@media screen and (min-width: 1440px) {
  .teamSection {
    padding: 10rem 0;
  }

  .teamMainWrap {
    flex-direction: row;
    gap: 13.9rem;
    align-items: center;
  }

  .teamTextWrap {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 0.4s;
  }

  .teamTextWrapVisible {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }

  .teamTitle {
    font-size: 5rem;
  }

  .teamText {
    font-size: 1.8rem;
    width: 30.4rem;
    margin-bottom: 5rem;
  }
}

@media screen and (min-width: 1728px) {
  .teamSection {
    padding: 100px 0px;
  }

  .teamMainWrap {
    gap: 139px;
  }

  .teamTitle {
    font-size: 50px;
  }

  .teamText {
    font-size: 18px;
    width: 304px;
    margin-bottom: 50px;
  }
}
