.stepSevenMainWrap {
  padding: 32px 0 104px;
}

.stepSevenMainTitle {
  color: var(--neutral-main);
  font-size: 22px;
  font-weight: 600;
  line-height: 160%;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 10px;
}

.stepSevenText,
.stepSevenTextDesc {
  color: var(--gray-text);
  font-size: 16px;
  width: 275px;
  line-height: 160%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 24px;
  height: 82px;
}

.stepSevenTextDesc {
  display: none;
}

@media screen and (min-width: 1440px) {
  .stepSevenMainWrap {
    padding: 4.4rem 0 0;
    height: 56.3rem;
    display: flex;
    flex-direction: column;
  }

  .stepSevenMainTitle {
    font-size: 2.8rem;
    line-height: normal;
    margin-bottom: 0.8rem;
  }

  .stepSevenText {
    display: none;
  }

  .stepSevenTextDesc {
    display: block;
    font-size: 1.8rem;
    margin-bottom: 3.6rem;
    width: 48.4rem;
    height: fit-content;
  }
}

@media screen and (min-width: 1728px) {
  .stepSevenMainWrap {
    padding: 44px 0 0px;
    height: 563px;
  }

  .stepSevenMainTitle {
    font-size: 28px;
    margin-bottom: 8px;
  }

  .stepSevenTextDesc {
    font-size: 18px;
    margin-bottom: 36px;
    width: 484px;
  }
}
