.stepTwoInput {
  width: 100%;
  margin-bottom: 15px;
  height: 6px;
}

.stepTwoInputThumb {
  height: 25px;
  width: 25px;
  background-color: var(--white-main);
  border: 2px solid var(--gray-stroke);
  top: -7px;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
}

.stepTwoInputTrack {
  height: 12px;
  border-radius: 8px;
  background-color: var(--gray-stroke);
}

.stepTwoInputTrackCompleted {
  background-color: var(--red-main);
}

.stepTwoInputThumb.active .stepTwoActiveWrap {
  display: flex;
}

.stepTwoActiveWrap {
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  bottom: 28px;
  right: -23px;
  width: 66px;
  height: 32px;
  border-radius: 24px;
  background-color: var(--red-main);
}

.stepTwoActiveCount {
  color: var(--white-main);

  font-size: 16px;

  font-weight: 700;
  line-height: normal;
}

@media screen and (min-width: 1440px) {
  .stepTwoActiveWrap {
    bottom: 3.2rem;
  }
}

@media screen and (min-width: 1728px) {
  .stepTwoActiveWrap {
    bottom: 32px;
  }
}
