.leadMainWrap {
}

.leadProgressWrap {
  margin: 0 auto;
  width: fit-content;
  margin-bottom: 32px;
}

.leadProgressList {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  width: fit-content;
  margin-bottom: 14px;
}

.leadProgressItem {
  width: 36px;
  height: 6px;
  border-radius: 26px;
  background-color: var(--gray-stroke);
}

.leadProgressItem.active {
  background-color: var(--red-main);
}

.leadProgressText {
  color: var(--black-main);
  font-size: 16px;
  font-weight: 600;
}

@media screen and (min-width: 1440px) {
  .leadMainWrap {
  }

  .leadProgressWrap {
    margin-bottom: 3.2rem;
  }

  .leadProgressList {
  }

  .leadProgressItem {
  }

  .leadProgressText {
  }
}

@media screen and (min-width: 1728px) {
  .leadMainWrap {
  }

  .leadProgressWrap {
    margin-bottom: 32px;
  }

  .leadProgressList {
    gap: 14px;
  }

  .leadProgressItem {
    width: 40px;
  }

  .leadProgressText {
    font-size: 18px;
  }
}
