.leadMainWrap {
}

.leadProgressWrap {
  margin: 0 auto;
  width: 100%;
  margin-bottom: 24px;
}

.leadProgressList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 14px;
}

.leadProgressItem {
  position: relative;
  display: flex;
  width: 36px;
  height: 36px;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid var(--gray-stroke);
  align-items: center;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}

.leadProgressItem.active {
  background-color: var(--red-second);
}

.leadProgressCount {
  color: var(--gray-text);
  font-size: 18.5px;
  font-weight: 500;
  line-height: 150%;
  height: 25px;
  letter-spacing: -0.185px;
  transition: all 0.2s ease-in-out;
}

.leadProgressCount.active {
  color: var(--white-main);
}

.leadProgressText {
  display: none;
}

.leadProgressIcon {
  width: 18px;
  height: 18px;
  stroke: var(--white-main);
  transition: all 0.2s ease-in-out;
}

.leadProgressLinesList {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  bottom: 16px;
  height: 2px;
  right: -110px;
}

.leadProgressLine {
  height: 2px;
  width: 12px;
  border-radius: 32px;
  background-color: var(--gray-text);
  transition: all 0.2s ease-in-out;
  opacity: 0.2;
}

.leadProgressLine:first-child {
  width: 8px;
}
.leadProgressLine:last-child {
  width: 8px;
}

.leadProgressLine.active {
  opacity: 1;
  background-color: var(--red-second);
}

@media screen and (min-width: 1440px) {
  .leadMainWrap {
  }

  .leadProgressWrap {
    margin-bottom: 3.2rem;
  }

  .leadProgressList {
    gap: 1.4rem;
  }

  .leadProgressItem {
    width: 6rem;
    height: 0.5rem;
  }

  .leadProgressText {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1728px) {
  .leadMainWrap {
  }

  .leadProgressWrap {
    margin-bottom: 32px;
  }

  .leadProgressList {
    gap: 14px;
  }

  .leadProgressItem {
    width: 60px;
    height: 5px;
  }

  .leadProgressText {
    font-size: 16px;
  }
}
