.leadMainWrap {
}

.leadProgressWrap {
  margin: 0 auto;
  width: 100%;
  margin-bottom: 36px;
}

.leadProgressList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}

.leadProgressItem {
  position: relative;
  display: flex;
  width: 36px;
  height: 36px;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid var(--gray-stroke);
  align-items: center;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}

.leadProgressItem.active {
  background-color: var(--red-second);
}

.leadProgressCount {
  color: var(--gray-text);
  font-size: 18.5px;
  font-weight: 500;
  line-height: 150%;
  height: 25px;
  letter-spacing: -0.185px;
  transition: all 0.2s ease-in-out;
}

.leadProgressCount.active {
  color: var(--white-main);
}

.leadProgressText {
  display: none;
}

.leadProgressIcon {
  width: 18px;
  height: 18px;
  stroke: var(--white-main);
  transition: all 0.2s ease-in-out;
}

.leadProgressLinesList {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  bottom: 16px;
  height: 2px;
  right: -110px;
}

.leadProgressLine {
  height: 2px;
  width: 12px;
  border-radius: 32px;
  background-color: var(--gray-text);
  transition: all 0.2s ease-in-out;
  opacity: 0.2;
}

.leadProgressLine:first-child {
  width: 8px;
}
.leadProgressLine:last-child {
  width: 8px;
}

.leadProgressLine.active {
  opacity: 1;
  background-color: var(--red-second);
}

.leadAmentitesWrap {
  margin-top: 64px;
}

.leadAmentitesTitle {
  color: var(--black-main);
  font-size: 20px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.2px;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 18px;
}

@media screen and (min-width: 1440px) {
  .leadMainWrap {
  }

  .leadProgressWrap {
    margin-bottom: 3.2rem;
  }

  .leadProgressList {
    gap: 1.4rem;
  }

  .leadProgressItem {
    width: 6rem;
    height: 0.5rem;
  }

  .leadProgressText {
    font-size: 1.6rem;
  }

  .leadAmentitesWrap {
    display: none;
  }
}

@media screen and (min-width: 1728px) {
  .leadMainWrap {
  }

  .leadProgressWrap {
    margin-bottom: 48px;
    width: 599px;
  }

  .leadProgressList {
    width: 100%;
    justify-content: center;
    gap: unset;
  }

  .leadProgressLinesList {
    width: 54px;
    right: -185px;
    bottom: 18px;
  }

  .leadProgressItem {
    height: 40px;
    width: 40px;
  }

  .leadProgressItem:first-child {
    margin-right: 195px;
  }
  .leadProgressItem:last-child {
    margin-left: 195px;
  }

  .leadProgressText {
    display: block;
    font-size: 15px;
    color: var(--gray-text);

    font-weight: 600;
    line-height: 133%;
    letter-spacing: -0.1px;
    position: absolute;
    bottom: 10px;
    left: 48px;
  }

  .leadProgressText.active {
    color: var(--red-main);
  }

  .leadProgressCount {
    font-size: 20px;
    height: 30px;
  }
}
