.scrollArticleHidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(100%);
  transition: all 0.4s;
}

.scrollArticleVisible {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

@media (prefers-reduced-motion) {
  .scrollArticleHidden {
    transition: none;
  }
}
