.menuNavList {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.menuNavItem {
  user-select: none;
}

.menuNavLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuNavItemText {
  color: var(--white-main);
  font-size: 26px;
  font-weight: 500;
  line-height: 160%;
  transition: color 150ms var(--cubic);
}

.menuNavLink:hover .menuNavItemText {
  color: var(--gray-text);
}

.menuArrowIcon {
  stroke: var(--white-main);
  transition: stroke 250ms var(--cubic);
}

.menuArrowIcon:hover {
  stroke: var(--gray-text);
}
