.stepFourWrap {
}

.stepFourTitle {
  color: var(--black--main);
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  line-height: 130%;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 12px;
}

.stepFourText {
  color: var(--gray-text);
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  line-height: 160%;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 24px;
}

@media screen and (min-width: 1440px) {
  .stepFourWrap {
  }

  .stepFourTitle {
    font-size: 4.4rem;
    line-height: 120%;
    margin-bottom: 1.2rem;
  }

  .stepFourText {
    width: 59.5rem;
    font-size: 1.8rem;
    margin-bottom: 2.4rem;
  }
}

@media screen and (min-width: 1728px) {
  .stepFourWrap {
  }

  .stepFourTitle {
    font-size: 44px;
    margin-bottom: 12px;
  }

  .stepFourText {
    width: 595px;
    font-size: 18px;
    margin-bottom: 24px;
  }
}
