.stepFiveList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  justify-content: center;
  width: 340px;
  height: 372px;
  background-color: var(--gray-input);
  margin-bottom: 36px;
  border-radius: 16px;
  padding: 24px;
}

.stepFiveItem {
  cursor: pointer;
  width: 292px;
  height: 72px;
  padding: 16px 20px;
  border-radius: 8px;
  background-color: var(--white-main);
  box-shadow: 4px 12px 19px 0px rgba(24, 24, 24, 0.08);
  transition: all 0.3s ease-in-out;
}

.stepFiveItem.active {
  background-color: var(--red-main);
}

.stepFiveWrap {
  display: flex;
  align-items: center;
  gap: 18px;
}

.stepFiveIcon {
  width: 40px;
  height: 40px;
  stroke: #3b3c4a;
  fill: #3b3c4a;
}

.stepFiveIcon.active {
  fill: var(--white-main);
  stroke: var(--black-main);
}

.stepFiveItem:last-child .stepFiveIcon {
  fill: var(--white-main);
  stroke: #3b3c4a;
}

.stepFiveTitle {
  color: #3b3c4a;
  font-size: 18px;
  font-weight: 500;
}

.stepFiveTitle.active {
  color: var(--white-main);
}

@media screen and (min-width: 1440px) {
  .stepFiveList {
    width: 90rem;
    height: 28.2rem;
    padding: 4.8rem;
    flex-direction: row;
    border-radius: 1.6rem;
    gap: 2rem;
    margin: 0 auto;
    margin-bottom: 4.8rem;
  }

  .stepFiveItem {
    width: 18.6rem;
    height: 18.6rem;
    border-radius: 1.6rem;
    padding: unset;
    padding-top: 5rem;
  }

  .stepFiveWrap {
    flex-direction: column;
    gap: 3.8rem;
  }

  .stepFiveIcon {
    width: 5.4rem;
    height: 5.4rem;
  }

  .stepFiveTitle {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 110%;
  }
}

@media screen and (min-width: 1728px) {
  .stepFiveList {
    width: 900px;
    height: 282px;
    padding: 48px;
    border-radius: 16px;
    gap: 20px;
    margin-bottom: 48px;
  }

  .stepFiveItem {
    width: 186px;
    height: 186px;
    padding-top: 60px;
    border-radius: 16px;
    padding-top: 50px;
  }

  .stepFiveWrap {
    gap: 38px;
  }

  .stepFiveIcon {
    width: 54px;
    height: 54px;
  }

  .stepFiveTitle {
    font-size: 18px;
  }
}
