.teamImgMainWrap {
  width: 342px;
}

.sliderWrap {
  margin-bottom: 20px;
  border-radius: 16px;
}

.teamImgWrap {
  position: relative;
  width: 342px;
  height: 519px;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: cover;
}

.first {
  background-image: url('/images/common/team-1-mob.webp');
}

.second {
  background-image: url('/images/common/team-2-mob.webp');
}

.third {
  background-image: url('/images/common/team-3-mob.webp');
}

.fourth {
  background-image: url('/images/common/team-4-mob.webp');
}

.fifth {
  background-image: url('/images/common/team-5-mob.webp');
}

.sixth {
  background-image: url('/images/common/team-6-mob.jpg');
}

.seventh {
  background-image: url('/images/common/team-7-mob.webp');
}

.eighth {
  background-image: url('/images/common/team-8-mob.jpg');
}

.teamTextWrap {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 38px;
  left: 24px;
}

.teamImgTitle {
  color: var(--white-main);
  font-size: 32px;
  font-weight: 600;
  line-height: 130%;
  margin-bottom: 12px;
  width: fit-content;
}

.teamTopWrap {
  border-radius: 33px;
  background-color: var(--red-main);
  width: 122px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  gap: 2px;
  top: 32px;
  right: 33px;
}

.teamImgText {
  color: var(--white-main);
  width: fit-content;
  font-size: 18px;
  font-weight: 600;
  line-height: 160%;
}

.teamImgIcon {
  width: 18px;
  height: 19px;
  fill: var(--white-main);
}

.teamImgBtn {
  display: flex;
  padding: 15px 60px;
  color: var(--gray-input);
  justify-content: center;
  align-items: center;
  border-radius: 28px;
  background-color: var(--red-main);
  width: 276px;
  height: 50px;
  border: 1px solid var(--red-main);
  font-size: 16px;
  font-weight: 600;
  transition:
    border-color 250ms var(--cubic),
    color 250ms var(--cubic),
    background-color 250ms var(--cubic);
}

.teamImgBtn:is(:hover, :focus) {
  background-color: var(--white-main);
  border-color: var(--white-main);
  color: var(--red-main);
}

@media screen and (min-width: 1440px) {
  .teamImgMainWrap {
    display: flex;
    gap: 4rem;
    align-items: center;
    width: 89.1rem;
  }

  .teamImgWrap {
    width: 15.8rem;
    height: 62rem;
    background-position: center;
    cursor: pointer;
    border-radius: 1.2rem;
    transition: all 600ms var(--cubic);
  }

  .first {
    background-image: url('/images/common/team-1-desk.webp');
  }

  .second {
    background-image: url('/images/common/team-2-desk.webp');
  }

  .third {
    background-image: url('/images/common/team-3-desk.webp');
  }

  .active {
    width: 49.5rem;
    background-position: unset;
  }

  .teamTextWrap {
    bottom: 4.5rem;
    left: 2.9rem;
    gap: 0.4rem;
    opacity: 0;
    transition: opacity 600ms var(--cubic);
  }

  .active .teamTextWrap {
    opacity: 1;
  }

  .teamImgTitle {
    font-size: 3.5rem;
    width: 27.2rem;
    margin-bottom: unset;
  }

  .teamImgText {
    font-size: 2.2rem;
    margin-bottom: unset;
  }
  .teamImgBtnWrap {
    display: none;
  }
}

@media screen and (min-width: 1728px) {
  .teamImgMainWrap {
    gap: 40px;
    width: 891px;
  }

  .teamImgWrap {
    width: 158px;
    height: 620px;
    border-radius: 12px;
  }

  .active {
    width: 495px;
    background-position: unset;
  }

  .teamTextWrap {
    bottom: 45px;
    left: 29px;
    gap: 4px;
  }

  .teamImgTitle {
    font-size: 35px;
    width: 272px;
  }

  .teamImgText {
    font-size: 22px;
  }
}
