.teamImgMainWrap {
  width: 342px;
}

.teamImgWrap {
  position: relative;
  width: 342px;
  height: 428px;
  border-radius: 12px;
  background-repeat: no-repeat;
  background-size: cover;
}

.first {
  background-image: url('/images/common/team-1-mob.jpg');
}

.second {
  background-image: url('/images/common/team-2-mob.jpg');
}

.third {
  background-image: url('/images/common/team-3-mob.jpg');
}

.teamTextWrap {
  display: flex;
  flex-direction: column;
  gap: 3px;
  position: absolute;
  bottom: 32px;
  left: 20px;
}

.teamImgTitle {
  color: var(--white-main);
  font-size: 24px;
  font-weight: 600;
  line-height: 130%;
  width: fit-content;
}

.teamImgText {
  color: var(--white-main);
  font-size: 15px;
  width: fit-content;
}

@media screen and (min-width: 1440px) {
  .teamImgMainWrap {
    display: flex;
    gap: 4rem;
    align-items: center;
    width: 89.1rem;
  }

  .teamImgWrap {
    width: 15.8rem;
    height: 62rem;
    background-position: center;
    cursor: pointer;
    transition: all 600ms var(--cubic);
  }

  .first {
    background-image: url('/images/common/team-1-desk.jpg');
  }

  .second {
    background-image: url('/images/common/team-2-desk.jpg');
  }

  .third {
    background-image: url('/images/common/team-3-desk.jpg');
  }

  .active {
    width: 49.5rem;
    background-position: unset;
  }

  .teamTextWrap {
    bottom: 4.5rem;
    left: 2.9rem;
    opacity: 0;
    transition: opacity 600ms var(--cubic);
  }

  .active .teamTextWrap {
    opacity: 1;
  }

  .teamImgTitle {
    font-size: 3.5rem;
    width: 27.2rem;
  }

  .teamImgText {
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 1728px) {
  .teamImgMainWrap {
    gap: 40px;
    width: 891px;
  }

  .teamImgWrap {
    width: 158px;
    height: 620px;
  }

  .active {
    width: 495px;
    background-position: unset;
  }

  .teamTextWrap {
    bottom: 45px;
    left: 29px;
  }

  .teamImgTitle {
    font-size: 35px;
    width: 272px;
  }

  .teamImgText {
    font-size: 22px;
  }
}
