.stepThreeMainWrap {
  padding: 32px 0 0px;
}

.stepThreeMainTitle {
  color: var(--gray-dark-text);
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  line-height: 160%;
  height: 68px;
  margin-bottom: 32px;
}

.leadStepThreeBtn {
  font-size: 16px;
  font-weight: 500;
  border-radius: 6px;
  border: 1px solid var(--red-main);
  background-color: var(--red-main);
  color: var(--white-main);
  padding: 17px 148px;
  width: 100%;
  height: 52px;
  margin: 0 auto;
}

.leadStepThreeBtnDesc {
  display: none;
}

@media screen and (min-width: 1728px) {
  .stepThreeMainWrap {
    padding: 44px 0 0px;
  }

  .stepThreeMainTitle {
    font-size: 28px;
    line-height: normal;
    height: auto;
  }

  .leadStepThreeBtn {
    display: none;
  }

  .leadStepThreeBtnDesc {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 116px;
    height: 46px;
    color: var(--black-main);
    font-size: 16px;
    font-weight: 500;
    padding: 13px 22px;
    border-radius: 6px;
    border: 1px solid var(--gray-stroke);
    background-color: var(--white-main);
    margin-left: auto;
  }

  .leadIcon {
    width: 20px;
    height: 21px;
    stroke: var(--black-main);
  }
}
