@keyframes pulseAnimate {
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

.pricingPlansItem {
  position: relative;
  width: 296px;
  display: flex;
  flex-direction: column;
  padding: 54px 21px 32px;
  border-radius: 16px;
  background-color: var(--white-main);
  box-shadow: 4px 4px 44px 0px rgba(0, 0, 0, 0.14);
}

.planBestWrap {
  position: absolute;
  top: -52px;
  right: -4px;
  border-radius: 50%;
  width: 84px;
  opacity: 1;
  height: 84px;
  background: var(--red-main);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: rotate(19.558deg);
}

.planBestWrap span {
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  animation: pulseAnimate 3s ease-out infinite;
  animation-delay: calc(1s * var(--i));
}

.planBestText {
  color: var(--gray-input);
  font-size: 15px;
  font-style: normal;

  font-weight: 800;
  line-height: 130%;
  position: absolute;
  top: 32px;
  left: 8px;
}

.pricingPlanInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.planImageMob {
  width: 200px;
  height: 200px;
  position: absolute;
  top: -154px;
  left: 48px;
}

.planImageDesk {
  display: none;
}

.planTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 104px;
  height: 42px;
  border-radius: 32px;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  color: var(--red-main);
  background-color: transparent;
  border: 1px solid var(--red-main);
  padding: 8px 11px;
  margin-bottom: 10px;
}

.planPrice {
  width: max-content;
  font-size: 26px;
  font-weight: 600;
  line-height: 130%;
  color: var(--black-main);
  margin-bottom: 54px;
}

.planRangeMainWrap {
  height: fit-content;
  width: 236px;
  margin-bottom: 8px;
}

.planRangeTextWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.planRangeText {
  color: var(--red-main);
  font-size: 14px;
  font-weight: 600;
  line-height: 157%;
  width: fit-content;
}

.planListTitle {
  color: var(--black-main);
  font-size: 18px;
  font-weight: 600;
  line-height: 130%;
  margin-bottom: 18px;
}

.planBenefits {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 196px;
  margin-bottom: 20px;
}

.planBenefit {
  display: flex;
  align-items: center;
  gap: 10px;
}

.benefit {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  color: var(--gray-text);
}

.planBenefit:first-child .benefit {
  font-weight: 500;
}

.planBtn {
  display: flex;
  padding: 14px 0;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--red-main);
  border-radius: 32px;
  height: 56px;
  width: 254px;
  background-color: var(--red-main);
  color: var(--gray-input);
  font-size: 16px;
  font-weight: 600;
  transition:
    border-color 250ms var(--cubic),
    color 250ms var(--cubic),
    background-color 250ms var(--cubic);
}

.planBtn:hover {
  border-color: var(--white-main);
  background-color: var(--white-main);
  color: var(--red-main);
}

@media screen and (min-width: 1440px) {
  .pricingPlansItem {
    width: 39.4rem;
    height: 65.5rem;
    padding: 12rem 3.5rem 4.8rem;
    opacity: 0;
    border-radius: 2.4rem;
    filter: blur(5px);
    transform: translateY(30%);
    transition: all 0.4s ease-in-out;

    box-shadow: 0px 4px 31.2px 0px rgba(218, 218, 218, 0.7);
  }

  .pricingPlansItem:nth-child(1) {
    transition-delay: 0.2s;
  }

  .pricingPlansItem:nth-child(2) {
    transition-delay: 0.4s;
  }

  .pricingPlansItem:nth-child(3) {
    transition-delay: 0.6s;
  }

  .pricingPlansItemVisible {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }

  .pricingPlanInfo {
    width: 32.4rem;
  }

  .planImageMob {
    display: none;
  }

  .planImageDesk {
    display: block;
    width: 26.5rem;
    position: absolute;
    top: -20rem;
    left: 6.4rem;
  }

  .planTitle {
    font-weight: 500;
    font-size: 1.7rem;
    margin-bottom: 1.8rem;
    border-radius: 2.8rem;
    height: 4rem;
    width: 12.5rem;
    padding: 0.6rem;
  }

  .planRangeMainWrap {
    width: 30rem;
    margin: 0 auto;
    margin-bottom: 0.8rem;
  }

  .planPrice {
    font-size: 3.4rem;
    margin-bottom: 5.1rem;
    font-weight: 500;
  }

  .planListTitle {
    font-size: 2.2rem;
    margin-bottom: 2rem;
    font-weight: 500;
  }

  .planBenefits {
    gap: 1.2rem;
    width: fit-content;
    margin-right: auto;
    margin-left: 3rem;
    margin-bottom: 3.6rem;
  }

  .planBtn {
    width: 32.4rem;
    padding: 1.4rem 0;
    font-size: 1.6rem;
    height: 6rem;
    border-radius: 2.8rem;
  }

  .benefit {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1728px) {
  .pricingPlansItem {
    width: 394px;
    height: 655px;
    padding: 120px 35px 48px;
    border-radius: 16px;
  }

  .pricingPlanInfo {
    width: 324px;
  }

  .planImageDesk {
    width: 265px;
    top: -200px;
    left: 64px;
  }

  .planBestWrap {
  }

  .planBestText {
  }

  .planTitle {
    font-size: 18px;
    border-radius: 28px;
    height: 40px;
    width: 125px;
    padding: 6px;
    margin-bottom: 18px;
  }

  .planRangeMainWrap {
    width: 300px;
    margin-bottom: 8px;
  }

  .planPrice {
    font-size: 34px;
    margin-bottom: 51px;
  }

  .planListTitle {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .planBenefits {
    gap: 12px;
    margin-left: 30px;
    margin-bottom: 36px;
  }

  .benefit {
    font-size: 16px;
  }

  .planBtn {
    width: 324px;
    font-size: 16px;
    height: 60px;
    border-radius: 28px;
  }
}
