.pricingPlansItem {
  position: relative;
  width: 296px;
  display: flex;
  flex-direction: column;
  padding: 54px 21px 32px;
  border-radius: 16px;
  border: 1px solid var(--gray-stroke);
}

.planBestImg {
  width: 134px;
  height: 134px;
  position: absolute;
  top: -52px;
  right: -26px;
}

.pricingPlanInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.planImageMob {
  width: 190px;
  height: 190px;
  position: absolute;
  top: -154px;
  left: 48px;
}

.planImageDesk {
  display: none;
}

.planTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 112px;
  height: 42px;
  padding: 12px 23px;
  border-radius: 28px;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  color: var(--red-main);
  background-color: transparent;
  border: 1px solid var(--red-main);
  padding: 8px 11px;
  margin-bottom: 10px;
}

.planPrice {
  width: max-content;
  font-size: 28px;
  font-weight: 600;
  line-height: 130%;
  color: var(--gray-dark-text);
  margin-bottom: 22px;
}

.planBenefits {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 196px;
  margin-bottom: 20px;
  border-top: 1px solid var(--gray-stroke);
  padding-top: 16px;
}

.planBenefit {
  display: flex;
  align-items: center;
  gap: 8px;
}

.benefit {
  font-size: 14px;
  font-style: normal;
  line-height: 160%;
  color: var(--gray-text);
}

.planBtn {
  display: flex;
  padding: 14px 0;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--red-main);
  border-radius: 32px;
  height: 56px;
  width: 254px;
  background-color: var(--red-main);
  color: var(--gray-input);
  font-size: 16px;
  font-weight: 600;
  transition:
    border-color 250ms var(--cubic),
    color 250ms var(--cubic),
    background-color 250ms var(--cubic);
}

.planBtn:hover {
  border-color: var(--white-main);
  background-color: var(--white-main);
  color: var(--red-main);
}

@media screen and (min-width: 1440px) {
  .pricingPlansItem {
    width: 39.4rem;
    height: 62.4rem;
    padding: 12rem 2.7rem 4.8rem;
    opacity: 0;
    border-radius: 1.6rem;
    filter: blur(5px);
    transform: translateY(30%);
    transition: all 0.4s ease-in-out;
  }

  .pricingPlansItem:nth-child(1) {
    transition-delay: 0.2s;
  }

  .pricingPlansItem:nth-child(2) {
    transition-delay: 0.4s;
  }

  .pricingPlansItem:nth-child(3) {
    transition-delay: 0.6s;
  }

  .pricingPlansItemVisible {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }

  .pricingPlanInfo {
    width: 34rem;
  }

  .planImageMob {
    display: none;
  }

  .planImageDesk {
    display: block;
    width: 26.5rem;
    position: absolute;
    top: -20rem;
    left: 6.4rem;
  }

  .planTitle {
    font-weight: 500;
    font-size: 1.7rem;
    margin-bottom: 1.8rem;
    border-radius: 2.8rem;
    height: 4rem;
    width: 12.4rem;
    padding: 0.6rem;
  }

  .planPrice {
    font-size: 3.4rem;
    margin-bottom: 2rem;
  }

  .planBenefits {
    gap: 1.8rem;
    padding-top: 2.4rem;
    width: fit-content;
    margin-bottom: 4.8rem;
  }

  .planBtn {
    width: 32.4rem;
    padding: 1.4rem 0;
    font-size: 1.6rem;
    height: 6rem;
    border-radius: 2.8rem;
  }

  .benefit {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1728px) {
  .pricingPlansItem {
    width: 394px;
    height: 624px;
    padding: 120px 27px 48px;
    border-radius: 16px;
  }

  .pricingPlanInfo {
    width: 340px;
  }

  .planImageDesk {
    width: 265px;
    top: -200px;
    left: 64px;
  }

  .planTitle {
    font-size: 18px;
    border-radius: 28px;
    height: 40px;
    width: 124px;
    padding: 6px;
    margin-bottom: 18px;
  }

  .planPrice {
    font-size: 34px;
    margin-bottom: 20px;
  }

  .planBenefits {
    padding-top: 24px;
    gap: 18px;
    margin-bottom: 48px;
  }

  .benefit {
    font-size: 16px;
  }

  .planBtn {
    width: 324px;
    font-size: 16px;
    height: 60px;
    border-radius: 28px;
    padding: 14px 111px;
  }
}
