.jobSection {
  padding: 32px 0 64px;
}

.jobContainer {
  width: 100%;
  padding: 0 13px;
  margin: 0 auto;
}

@media screen and (min-width: 390px) {
  .jobContainer {
    width: 390px;
    padding: 0 24px;
  }
}

@media screen and (min-width: 1440px) {
  .jobSection {
    padding: 20rem 0 10rem;

    background: linear-gradient(
      to right,
      var(--white-main) 50.4%,
      var(--gray-input) 49.6%
    );
  }

  .jobContainer {
    position: relative;
    width: 172.8rem;
    padding: 0 18.6rem;
  }
}

@media screen and (min-width: 1728px) {
  .jobSection {
    padding: 200px 0 100px;
  }

  .jobContainer {
    width: 1728px;
    padding: 0 186px;
  }
}
