.stepOneList {
  width: 342px;
  height: 372px;
  padding: 24px 25px;
  background-color: var(--gray-input);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  justify-content: center;
  border-radius: 16px;
}

.stepOneItem {
  cursor: pointer;
  width: 292px;
  height: 72px;
  padding: 8px 97px 8px 28px;
  border-radius: 8px;
  display: flex;
  background-color: var(--white-main);
  box-shadow: 4px 12px 19px 0px rgba(24, 24, 24, 0.08);
  transition: all 0.15s ease-in-out;
}

.stepOneItem.active {
  background-color: var(--red-main);
}

.stepOneWrap {
  display: flex;
  align-items: center;
  gap: 24px;
}

.stepOneIcon {
  width: 56px;
  height: 56px;
  stroke: #3b3c4a;
  transition: all 0.15s ease-in-out;
}

.stepOneIcon.active {
  stroke: var(--white-main);
}

.stepOneTitle {
  color: #3b3c4a;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.15s ease-in-out;
}

.stepOneTitle.active {
  color: var(--white-main);
}

@media screen and (min-width: 1440px) {
  .stepOneList {
    width: 69.4rem;
    height: 28.2rem;
    padding: 4.8rem;
    border-radius: 1.6rem;
    gap: 2rem;
    flex-direction: row;
    margin: 0 auto;
    margin-bottom: 4.8rem;
  }

  .stepOneItem {
    width: 18.6rem;
    height: 18.6rem;
    padding: unset;
    padding-top: 4.8rem;
    border-radius: 1.6rem;
  }

  .stepOneWrap {
    flex-direction: column;
    gap: 3.8rem;
  }

  .stepOneItem:first-child .stepOneWrap {
    gap: 3rem;
  }

  .stepOneIcon {
    width: 5.6rem;
    height: 5.6rem;
  }

  .stepOneItem:first-child .stepOneIcon {
    width: 5rem;
    height: 5rem;
  }

  .stepOneTitle {
    line-height: 110%;
    text-align: center;
    font-weight: 600;
    font-size: 1.8rem;
  }

  .stepOneItem:first-child .stepOneTitle {
    width: 10.6rem;
  }
}

@media screen and (min-width: 1728px) {
  .stepOneList {
    width: 694px;
    height: 282px;
    padding: 48px;
    border-radius: 16px;
    gap: 20px;
    margin-bottom: 48px;
  }

  .stepOneItem {
    width: 186px;
    height: 186px;
    padding-top: 48px;
    border-radius: 16px;
  }

  .stepOneWrap {
    gap: 38px;
  }

  .stepOneItem:first-child .stepOneWrap {
    gap: 30px;
  }

  .stepOneIcon {
    width: 56px;
    height: 56px;
  }

  .stepOneItem:first-child .stepOneIcon {
    width: 50px;
    height: 50px;
  }

  .stepOneTitle {
    font-size: 18px;
  }

  .stepOneItem:first-child .stepOneTitle {
    width: 106px;
  }
}
