.offerList {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.sliderWrap {
  margin-top: 24px;
  margin-bottom: 20px;
  height: 600px;
  border-radius: 16px;
}

.slideWrap {
  height: 600px;
  cursor: pointer;
  border-radius: 16px;
}

.offerImgMob {
  width: 342px;
  height: 260px;
  border-radius: 16px 16px 0px 0px;
}

.offerImgDesk {
  display: none;
}

.offerMainWrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 25px;
  border-radius: 0px 0px 16px 16px;
  border: 1px solid var(--gray-stroke);
  border-top: unset;
}

.offerTopTitle {
  color: var(--gray-dark-text);
  font-size: 24px;
  font-weight: 600;
  line-height: 130%;
  margin-right: auto;
  width: fit-content;
  margin-bottom: 4px;
}

.offerTopText {
  color: var(--gray-text);
  font-size: 15px;
  text-align: left;
  line-height: 150%;
  width: 292px;
  margin-right: auto;
  margin-bottom: 12px;
}

.offerItem:nth-child(2) .offerTopText {
  width: 262px;
}

.offerTimeWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white-second);
  width: 98px;
  height: 36px;
  border-radius: 28px;
  margin-right: auto;
  padding: 8px 16px;
}

.offerTime {
  color: var(--gray--dark-text);
  font-size: 16px;
  font-weight: 500;
}

.offerBottomTitle {
  color: var(--gray-dark-text);
  font-size: 20px;
  font-weight: 600;
  margin-right: auto;
  margin-bottom: 4px;
}

.offerBottomText {
  color: var(--gray-text);
  font-size: 16px;
  text-align: left;
  line-height: 160%;
  width: 252px;
  margin-right: auto;
  margin-bottom: 24px;
}

.offerLink {
  margin-right: auto;
  width: 134px;
  height: 44px;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  color: var(--white-main);
  padding: 15px 16px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 28px;

  background-color: var(--red-main);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
  transition:
    background-color 250ms var(--cubic),
    color 250ms var(--cubic),
    border-color 250ms var(--cubic),
    box-shadow 250ms var(--cubic);
}

.offerLink:hover {
  color: var(--red-main);
  background-color: transparent;
  border-color: transparent;
  box-shadow: unset;
}

.offerIcon {
  stroke: var(--white-main);
  transition: stroke 250ms var(--cubic);
}

.offerLink:hover .offerIcon {
  stroke: var(--red-main);
}

@media screen and (min-width: 1440px) {
  .offerList {
    gap: 5.4rem;
    margin-top: 5.4rem;
  }

  .offerItem {
    display: flex;
    flex-direction: row;
    height: 36rem;

    justify-content: center;
  }

  .offerImgMob {
    display: none;
  }

  .offerImgDesk {
    display: block;
    border-radius: 1.6rem 0rem 0rem 1.6rem;
    width: 38.6rem;
  }

  .offerMainWrap {
    padding: 9.1rem 6.4rem;
    display: flex;
    gap: 10.2rem;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid var(--gray-stroke);
    border-left: unset;
    border-radius: 0 1.6rem 1.6rem 0;
  }

  .offerTopTitle {
    font-size: 3.6rem;
    width: 38.8rem;
    line-height: normal;
    letter-spacing: -0.054rem;
    margin-bottom: 1.2rem;
  }

  .offerTopText {
    font-size: 1.8rem;
    line-height: 130%;
    letter-spacing: -0.027rem;
    margin-bottom: 2.2rem;
    width: 34.1rem;
    height: 7rem;
  }

  .offerItem:nth-child(2) .offerTopText {
    width: 35.2rem;
  }

  .offerTimeWrap {
    border-radius: 2.8rem;
    padding: 0.3rem 1.1rem;
  }

  .offerTime {
    line-height: 150%;
    letter-spacing: -0.016px;
  }

  .offerBottomWrap {
    padding-left: 4.8rem;
    position: relative;
  }

  .offerBottomWrap::after {
    content: '';
    position: absolute;
    background: var(--gray-stroke);
    left: 0;
    top: 0;
    height: 15.4rem;
    width: 0.1rem;
  }

  .offerBottomTitle {
    font-size: 2.8rem;
    letter-spacing: -0.042rem;
    margin-bottom: 1.4rem;
  }

  .offerBottomText {
    width: 16.2rem;
    line-height: 150%;
    letter-spacing: -0.016rem;
    margin-bottom: 3.8rem;
  }

  .offerLink {
    height: 4.8rem;
    border-radius: 2.8rem;
  }
}

@media screen and (min-width: 1728px) {
  .offerList {
    gap: 54px;
    margin-top: 54px;
  }

  .offerItem {
    height: 360px;
  }

  .offerMainWrap {
    padding: 91px 64px;
    gap: 102px;
    border-radius: 0px 16px 16px 0px;
  }

  .offerTopTitle {
    font-size: 36px;
    width: 388px;
    letter-spacing: -0.54px;
    margin-bottom: 12px;
  }

  .offerTopText {
    font-size: 18px;
    letter-spacing: -0.27px;
    margin-bottom: 22px;
    width: 341px;
    height: 70px;
  }

  .offerItem:nth-child(2) .offerTopText {
    width: 352px;
  }

  .offerTimeWrap {
    padding: 3px 11px;
    border-radius: 28px;
  }

  .offerTime {
    letter-spacing: -0.16px;
  }

  .offerBottomWrap {
    padding-left: 48px;
  }

  .offerBottomWrap::after {
    height: 154px;
    width: 1px;
  }

  .offerBottomTitle {
    font-size: 28px;
    letter-spacing: -0.42px;
    margin-bottom: 14px;
  }

  .offerBottomText {
    width: 162px;
    letter-spacing: -0.16px;
    margin-bottom: 38px;
  }

  .offerImgDesk {
    width: 386px;
    border-radius: 16px 0px 0px 16px;
  }

  .offerLink {
    height: 48px;
    border-radius: 28px;
  }
}
