.stepOneMainWrap {
  padding: 32px 0px 0;
}

.stepOneMainTitle {
  color: var(--black-main);
  width: 342px;
  font-size: 30px;
  font-weight: 600;
  line-height: 130%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 8px;
}

.stepOneText {
  color: var(--gray-text);
  text-align: center;
  font-size: 16px;
  line-height: 160%;
  margin: 0 auto;
  margin-bottom: 24px;
}

.stepOneTitle {
  color: var(--gray-dark-text);
  font-size: 20px;
  width: fit-content;
  font-weight: 600;
  margin: 0 auto;
  margin-bottom: 12px;
  height: 28px;
}

.leadStepOneBtn {
  font-size: 16px;
  font-weight: 500;

  border-radius: 28px;
  border: 1px solid var(--red-main);
  background-color: var(--red-main);
  color: var(--white-main);
  padding: 17px 148px;
  width: 100%;
  height: 52px;
  margin: 0 auto;
}

.leadStepOneBtn:disabled {
  background-color: transparent;
  border: 1px solid var(--gray-stroke);
  color: var(--black-main);
  cursor: not-allowed;
}

.leadStepOneBtnDesc {
  display: none;
}

@media screen and (min-width: 1440px) {
  .stepOneMainWrap {
    padding: 4.4rem 0 0;
    height: 56.3rem;
    display: flex;
    flex-direction: column;
  }

  .stepOneMainTitle {
    width: 46rem;
    font-size: 2.8rem;
    height: 3.6rem;
  }

  .stepOneBr {
    display: none;
  }

  .stepOneText {
    font-size: 1.8rem;
    width: 39.8rem;
    margin-bottom: 4.6rem;
  }

  .stepOneTitle {
    font-size: 2.2rem;
    margin-bottom: 3.4rem;
  }

  .leadStepOneBtn {
    display: none;
  }

  .leadStepOneBtnDesc {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    width: 11.6rem;
    height: 4.6rem;
    color: var(--black-main);
    font-size: 1.6rem;
    font-weight: 500;
    padding: 1.3rem 2.2rem;
    border-radius: 0.6rem;
    border: 1px solid var(--gray-stroke);
    background-color: var(--white-main);
    margin-left: auto;
    transition:
      border-color 250ms var(--cubic),
      color 250ms var(--cubic),
      background-color 250ms var(--cubic);
  }

  .leadStepOneBtnDesc:disabled {
    color: var(--gray-text);
    cursor: not-allowed;
  }

  .leadIcon {
    width: 2rem;
    height: 2.1rem;
    stroke: var(--black-main);
    transition: stroke 250ms var(--cubic);
  }

  .leadStepOneBtnDesc:disabled .leadIcon {
    stroke: var(--gray-text);
  }

  .leadStepOneBtnDesc:not(:disabled):hover {
    border-color: var(--red-main);
    background-color: var(--red-main);
    color: var(--white-main);
  }

  .leadStepOneBtnDesc:not(:disabled):hover .leadIcon {
    stroke: var(--white-main);
  }
}

@media screen and (min-width: 1728px) {
  .stepOneMainWrap {
    padding: 44px 0 0;
    height: 563px;
  }

  .stepOneMainTitle {
    width: 460px;
    font-size: 28px;
    height: 36px;
  }

  .stepOneText {
    font-size: 18px;
    width: 398px;
    margin-bottom: 46px;
  }

  .stepOneTitle {
    font-size: 22px;
    margin-bottom: 34px;
  }

  .leadStepOneBtnDesc {
    gap: 6px;
    width: 116px;
    height: 46px;
    font-size: 16px;
    padding: 13px 22px;
    border-radius: 6px;
  }

  .leadIcon {
    width: 20px;
    height: 21px;
  }
}
