@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}

@keyframes swing {
  0% {
    transform: rotate(10deg) translateX(3px);
  }
  50% {
    transform: rotate(-10deg) translateX(-3px);
  }
  100% {
    transform: rotate(10deg) translateX(3px);
  }
}

.regionSection {
  padding: 32px 0;
  position: relative;
  overflow: hidden;
  background-color: var(--black-main);
}

.regionContainer {
  width: 375px;
  padding: 0 16px;
  margin: 0 auto;
}

.regionTitle {
  color: var(--white-main);
  font-size: 36px;
  font-weight: 600;
  line-height: 130%;
  margin-right: auto;
  margin-bottom: 8px;
}

.regionText {
  color: var(--white-main);
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 484px;
}

.regionImgWrap {
  position: absolute;
  top: 203px;
  left: -46px;
}

.regionImgMob {
}

.regionImgDesk {
  display: none;
}

.regionLocationWrap {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
}

.regionLocationWrapVisible {
  /* animation: pulse 1.5s infinite; */
}

.regionLocationWrap:nth-child(1) {
  top: 142px;
  left: 165px;
}

.regionLocationWrap:nth-child(2) {
  top: 205px;
  left: 150px;
}

.regionLocationWrap:nth-child(3) {
  top: 315px;
  left: 250px;
}

.regionLocationWrap:nth-child(4) {
  top: 81px;
  left: 168px;
}

.regionLocationWrap:nth-child(5) {
  top: 165px;
  left: 165px;
}

.regionLocationWrap:nth-child(6) {
  top: 279px;
  left: 199px;
}

.regionLocationIcon {
  width: 24px;
  height: 24px;

  animation: swing 5s infinite ease-in-out;
}

.regionLocationText {
  color: var(--white-main);
  font-size: 12px;
  font-weight: 600;
  width: fit-content;
  line-height: 130%;
}

.regionLocationWrap:nth-child(1) .regionLocationText {
}

.regionLocationWrap:nth-child(2) .regionLocationText {
  font-size: 13px;
}

.regionLocationWrap:nth-child(3) .regionLocationText {
  font-size: 15px;
}
.regionLocationWrap:nth-child(4) .regionLocationText {
}
.regionLocationWrap:nth-child(5) .regionLocationText {
}

.regionLocationWrap:nth-child(6) .regionLocationText {
  font-size: 14px;
}

.regionBtn {
  cursor: pointer;
  width: 342px;
  height: 60px;
  z-index: 2;
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border-radius: 32px;
  padding: 17px 24px;
  color: var(--black-main);
  background-color: var(--white-main);
  font-size: 18px;
  font-weight: 600;
  border: 1px solid var(--white-main);
  transition: all 250ms var(--cubic);
}

.regionBtn:is(:hover, :focus) {
  background-color: var(--red-main);
  color: var(--white-main);
  border-color: var(--red-main);
}

@media screen and (min-width: 390px) {
  .regionContainer {
    width: 390px;
    padding: 0 24px;
  }
}

@media screen and (min-width: 480px) {
  .regionImgWrap {
    left: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .regionSection {
    padding: 29.3rem 0;
    position: static;
  }

  .regionContainer {
    width: 172.8rem;
    padding: 0 5.2rem 0 18.6rem;
    position: relative;
  }

  .regionTitle {
    font-size: 6.4rem;
    margin-bottom: 1.2rem;
    width: 55.1rem;
    z-index: 2;
    position: relative;
  }

  .regionText {
    color: #cfcfcf;
    width: 39.3rem;
    z-index: 2;
    position: relative;
    margin-bottom: 2.4rem;
    margin-right: auto;
  }

  .regionImgWrap {
    top: -28.3rem;
    left: 81rem;
    width: 92.4rem;
    height: 84.3rem;
  }

  .regionImgMob {
    display: none;
  }

  .regionImgDesk {
    display: block;
  }

  .regionLocationWrap:nth-child(1) {
    top: 27.2rem;
    left: 28.5rem;
  }

  .regionLocationWrap:nth-child(2) {
    left: 26.2rem;
    top: 38rem;
  }

  .regionLocationWrap:nth-child(3) {
    top: 56.5rem;
    left: 43rem;
  }

  .regionLocationWrap:nth-child(4) {
    top: 17rem;
    left: 29.3rem;
  }

  .regionLocationWrap:nth-child(5) {
    top: 31.4rem;
    left: 28.7rem;
  }

  .regionLocationWrap:nth-child(6) {
    top: 50.4rem;
    left: 34.4rem;
  }

  .regionLocationIcon {
    width: 4rem;
    height: 4rem;
  }

  .regionLocationText {
    font-weight: 500;
  }

  .regionLocationWrap:nth-child(1) .regionLocationText {
    font-size: 1.6rem;
  }

  .regionLocationWrap:nth-child(2) .regionLocationText {
    font-size: 1.6rem;
  }

  .regionLocationWrap:nth-child(3) .regionLocationText {
    font-size: 1.8rem;
  }

  .regionLocationWrap:nth-child(4) .regionLocationText {
    font-size: 1.6rem;
  }

  .regionLocationWrap:nth-child(5) .regionLocationText {
    font-size: 1.6rem;
  }

  .regionLocationWrap:nth-child(6) .regionLocationText {
    font-size: 2rem;
  }

  .regionBtn {
    font-size: 1.8rem;
    width: 18.6rem;
    margin: unset;
    margin-right: auto;
  }
}

@media screen and (min-width: 1728px) {
  .regionSection {
    padding: 293px 0;
  }

  .regionContainer {
    width: 1728px;
    padding: 0 52px 0 186px;
  }

  .regionTitle {
    font-size: 64px;
    margin-bottom: 12px;
    width: 551px;
  }

  .regionText {
    width: 393px;
    margin-bottom: 24px;
  }

  .regionImgWrap {
    top: -293px;
    left: 810px;
    width: 924px;
    height: 843px;
  }

  .regionLocationWrap:nth-child(1) {
    top: 272px;
    left: 285px;
  }

  .regionLocationWrap:nth-child(2) {
    left: 262px;
    top: 380px;
  }

  .regionLocationWrap:nth-child(3) {
    top: 565px;
    left: 430px;
  }

  .regionLocationWrap:nth-child(4) {
    top: 170px;
    left: 293px;
  }
  .regionLocationWrap:nth-child(5) {
    top: 314px;
    left: 287px;
  }

  .regionLocationWrap:nth-child(6) {
    top: 504px;
    left: 344px;
  }

  .regionLocationIcon {
    width: 40px;
    height: 40px;
  }

  .regionLocationWrap:nth-child(1) .regionLocationText {
    font-size: 16px;
  }

  .regionLocationWrap:nth-child(2) .regionLocationText {
    font-size: 16px;
  }

  .regionLocationWrap:nth-child(3) .regionLocationText {
    font-size: 18px;
  }

  .regionLocationWrap:nth-child(4) .regionLocationText {
    font-size: 16px;
  }

  .regionLocationWrap:nth-child(5) .regionLocationText {
    font-size: 16px;
  }

  .regionLocationWrap:nth-child(6) .regionLocationText {
    font-size: 20px;
  }

  .regionBtn {
    width: 186px;
    font-size: 18px;
  }
}
