.regionSection {
  padding: 36px 0;
  position: relative;
  overflow: hidden;
  background-color: var(--black-main);
}

.regionContainer {
  width: 375px;
  padding: 0 16px;
  margin: 0 auto;
}

.regionTitle {
  color: var(--white-main);
  font-size: 36px;
  font-weight: 600;
  line-height: 130%;
  margin-right: auto;
  margin-bottom: 8px;
}

.regionText {
  color: var(--white-main);
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 426px;
}

.regionImgWrap {
  position: absolute;
  top: 216px;
  left: 0;
}

.regionImg {
}

.regionBtn {
  cursor: pointer;
  width: 342px;
  height: 58px;
  z-index: 2;
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border-radius: 28px;
  padding: 17px 24px;
  color: var(--black-main);
  background-color: var(--white-main);
  font-size: 18px;
  font-weight: 600;
  border: 1px solid var(--white-main);
  transition: all 250ms var(--cubic);
}

.regionBtn:is(:hover, :focus) {
  background-color: var(--red-main);
  color: var(--white-main);
  border-color: var(--red-main);
}

@media screen and (min-width: 390px) {
  .regionContainer {
    width: 390px;
    padding: 0 24px;
  }
}

@media screen and (min-width: 1440px) {
  .regionSection {
  }

  .regionContainer {
    width: 172.8rem;
    padding: 0 18.6rem;
  }

  .regionTitle {
  }

  .regionText {
  }

  .regionImgWrap {
  }

  .regionImg {
  }

  .regionBtn {
  }
}

@media screen and (min-width: 1728px) {
  .regionSection {
  }

  .regionContainer {
    width: 1728px;
    padding: 0 186px;
  }

  .regionTitle {
  }

  .regionText {
  }

  .regionImgWrap {
  }

  .regionImg {
  }

  .regionBtn {
  }
}
