/* Colors */
:root {
  --white-main: #fff;
  --white-second: #f7f8fa;
  --black-main: #181818;
  --neutral-main: #2b2d33;
  --gray-dark-text: #323539;
  --gray-text: #858c95;
  --gray-light-text: #cdd0d5;
  --gray-stroke: #e5e5e7;
  --gray-input: #f8f9fb;
  --gray-slider: #ecf0f4;
  --red-main: #f32c40;
  --red-second: #ff5061;
  --star-main: #f5d140;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
/* Colors */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--black--main);
  font-weight: 400;
  font-size: 14px;
}

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  display: block;
  cursor: pointer;
  border: none;
}
