.jobsSection {
  padding: 36px 0 0;
}

.jobsContainer {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 390px) {
  .jobsContainer {
    width: 390px;
    padding: 0 24px;
  }
}

@media screen and (min-width: 1440px) {
  .jobsSection {
    padding: 6.4rem 0 13rem;
  }

  .jobsContainer {
    width: 172.8rem;
    padding: 0 25.4rem;
  }
}

@media screen and (min-width: 1728px) {
  .jobsSection {
    padding: 64px 0 130px;
  }

  .jobsContainer {
    width: 1728px;
    padding: 0 254px;
  }
}
