.employeeList {
  display: flex;
  flex-direction: column;
  gap: 64px;
  margin-bottom: 28px;
}

.employeeItem {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.employeeImgDesc {
  display: none;
}

.employeeTextWrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.employeeTitle {
  color: var(--gray-dark-text);
  font-size: 24px;
  font-weight: 700;
  line-height: 130%;
  width: fit-content;
}

.employeeText {
  color: var(--gray-text);
  font-size: 16px;
  font-style: normal;
  line-height: 160%;
}

.employeeItemBtn {
  display: none;
}

.employeeIcon {
  transition: stroke 250ms var(--cubic);
  stroke: var(--gray-input);
}

@media screen and (min-width: 1440px) {
  .employeeList {
    gap: unset;
  }

  .employeeItem {
    flex-direction: row;
    align-items: center;
    gap: 8rem;
    width: 135.6rem;
  }

  .employeeItem:nth-child(2n) {
    flex-direction: row-reverse;
  }

  .employeeImgMob {
    display: none;
  }

  .employeeImgDesc {
    display: block;
  }

  .employeeTextWrap {
    gap: 1.2rem;
  }

  .employeeTitle {
    font-size: 3.4rem;
  }

  .employeeText {
    width: 45.9rem;
  }

  .employeeItemBtn {
    display: flex;
    margin-top: 0.6rem;
    justify-content: center;
    align-items: center;
    padding: 1.3rem 2rem;
    color: var(--gray-input);
    font-size: 1.6rem;
    font-weight: 600;
    width: 17rem;
    height: 4.8rem;
    background-color: var(--red-main);
    border: none;
    border-radius: 6px;
    gap: 0.8rem;
    transition:
      border-color 250ms var(--cubic),
      color 250ms var(--cubic),
      background-color 250ms var(--cubic);
  }

  .employeeItemBtn:hover {
    border-color: var(--white-main);
    background-color: var(--white-main);
    color: var(--red-main);
  }

  .employeeItemBtn:hover .employeeIcon {
    stroke: var(--red-main);
  }
}

@media screen and (min-width: 1728px) {
  .employeeItem {
    gap: 80px;
    width: 1356px;
  }

  .employeeTextWrap {
    gap: 12px;
  }

  .employeeTitle {
    font-size: 34px;
  }

  .employeeText {
    width: 459px;
  }

  .employeeItemBtn {
    margin-top: 6px;
    padding: 13px 20px;
    font-size: 16px;
    width: 170px;
    height: 48px;
    gap: 8px;
  }
}
