.stepTwoMainWrap {
  padding: 24px 0 0;
}

.stepTwoTitle {
  color: var(--neutral-main);
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  line-height: 160%;
  height: 68px;
  margin: 0 auto;
  margin-bottom: 8px;
}

.stepTwoText {
  color: var(--gray-text);
  text-align: center;
  font-size: 16px;
  line-height: 160%;
  margin: 0 auto;
  margin-bottom: 24px;
}

.stepTwoWrap {
  height: 278px;
  border-radius: 12px;
  border: 1px solid var(--gray-stroke);
  background-color: var(--white-main);
  padding: 51px 24px;
  margin-bottom: 40px;
}

.stepTwoLabelWrap {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: flex-end;
  margin-bottom: 97px;
}

.stepTwoLabel {
  color: var(--black-main);
  font-size: 18px;
  font-weight: 500;
  width: 46px;
}

.stepTwoCountWrap {
  width: 80px;
  padding: 10px 17px;
  background-color: var(--red-main);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  height: 39px;
}

.stepTwoCount {
  color: var(--gray-input);
  font-size: 16px;
  font-weight: 600;
}

.stepTwoRangeWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stepTwoRange {
  color: var(--gray-text);
  font-size: 15px;
  font-weight: 500;
}

.leadStepTwoBtn {
  font-size: 16px;
  font-weight: 500;
  border-radius: 28px;
  border: 1px solid var(--red-main);
  background-color: var(--red-main);
  color: var(--white-main);
  padding: 17px 148px;
  width: 100%;
  height: 52px;
  margin: 0 auto;
}

.leadStepTwoBtnDesc {
  display: none;
}
@media screen and (min-width: 1440px) {
  .stepTwoMainWrap {
    padding: 4.4rem 0 0;
    height: 56.3rem;
    display: flex;
    flex-direction: column;
  }

  .stepTwoTitle {
    font-size: 2.8rem;
    line-height: normal;
    width: fit-content;
    height: 3.6rem;
    margin-bottom: 0.8rem;
  }

  .stepTwoText {
    font-size: 1.8rem;
    width: 44rem;
    margin-bottom: 5.4rem;
  }

  .stepTwoWrap {
    width: 52.6rem;
    height: 22.1rem;
    margin: 0 auto;
    padding: 3.2rem;
    margin-bottom: 9.7rem;
  }

  .stepTwoLabelWrap {
    margin-bottom: 7.9rem;
  }

  .stepTwoCountWrap {
    margin-right: auto;
  }

  .stepTwoInputWrap {
    width: 46.2rem;
  }

  .leadStepTwoBtn {
    display: none;
  }

  .leadStepTwoBtnDesc {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    width: 11.6rem;
    height: 4.6rem;
    color: var(--black-main);
    font-size: 1.6rem;
    font-weight: 500;
    padding: 1.3rem 2.2rem;
    border-radius: 0.6rem;
    border: 1px solid var(--gray-stroke);
    background-color: var(--white-main);
    margin-left: auto;
    transition:
      border-color 250ms var(--cubic),
      color 250ms var(--cubic),
      background-color 250ms var(--cubic);
  }

  .leadIcon {
    width: 2rem;
    height: 2.1rem;
    stroke: var(--black-main);
    transition: stroke 250ms var(--cubic);
  }

  .leadStepTwoBtnDesc:hover {
    border-color: var(--red-main);
    background-color: var(--red-main);
    color: var(--white-main);
  }

  .leadStepTwoBtnDesc:hover .leadIcon {
    stroke: var(--white-main);
  }
}

@media screen and (min-width: 1728px) {
  .stepTwoMainWrap {
    padding: 44px 0 0px;
    height: 563px;
  }

  .stepTwoTitle {
    font-size: 28px;
    height: 36px;
    margin-bottom: 8px;
  }

  .stepTwoText {
    font-size: 18px;
    width: 440px;
    margin-bottom: 54px;
  }

  .stepTwoWrap {
    width: 526px;
    height: 221px;
    padding: 32px;
    margin-bottom: 97px;
  }

  .stepTwoLabelWrap {
    margin-bottom: 79px;
  }

  .stepTwoInputWrap {
    width: 462px;
  }

  .leadStepTwoBtnDesc {
    gap: 6px;
    width: 116px;
    height: 46px;
    font-size: 16px;
    padding: 13px 22px;
    border-radius: 6px;
  }

  .leadIcon {
    width: 20px;
    height: 21px;
  }
}
