.stepList {
  display: flex;
  flex-direction: column;
  gap: 36px;
  user-select: none;
}

.stepItem {
  display: flex;
  flex-direction: column;
  gap: 18px;
  opacity: 0;
  filter: blur(5px);
  transform: translateY(30%);
  transition: all 0.4s;
}

.stepItemVisible {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

.stepImgMob {
  width: 342px;
  height: 342px;
  border-radius: 12px;
}

.stepImgDesc {
  display: none;
  border-radius: 12px;
}

.stepTextWrap {
  border-radius: 12px;
  padding: 40px 25px;
  cursor: pointer;
  border: 1px solid var(--gray-stroke);
  background-color: var(--white-main);
  transition: border-color 250ms var(--cubic);
}

.stepTextWrap.white {
  background-color: var(--red-main);
  border: 1px solid var(--red-main);
}

.stepCount {
  color: var(--gray-text);
  font-size: 18px;
  line-height: 160%;
  margin-bottom: 24px;
}

.stepCount.white {
  color: var(--gray-input);
}

.stepTitle {
  color: var(--black-main);
  font-size: 24px;
  font-weight: 600;
  line-height: 130%;
  width: 292px;
  margin-bottom: 8px;
}

.stepTitle.white {
  color: var(--white-main);
}

.stepText {
  color: var(--gray-text);
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.7px;
}

.stepText.white {
  color: var(--gray-input);
}

.stepBtn {
  background-color: var(--red-main);
  color: var(--gray-input);
  font-size: 16px;
  font-weight: 500;
  padding: 13px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 6px;
  width: 170px;
  height: 48px;
  gap: 8px;
  transition:
    border-color 250ms var(--cubic),
    color 250ms var(--cubic),
    background-color 250ms var(--cubic);
}

.stepBtn.white {
  color: var(--red-main);
  background-color: var(--white-main);
}

.stepBtnIcon {
  stroke: var(--gray-input);
  width: 22px;
  height: 22px;
  transition: stroke 250ms var(--cubic);
}

.stepBtnIcon.white {
  stroke: var(--red-main);
}

.stepBtn:hover {
  border-color: var(--white-main);
  background-color: var(--white-main);
  color: var(--red-main);
}

.stepBtn:hover .stepBtnIcon {
  stroke: var(--red-main);
}

.stepBtn.white:hover {
  border-color: var(--red-main);
  background-color: var(--red-main);
  color: var(--gray-input);
}

.stepBtn.white:hover .stepBtnIcon.white {
  stroke: var(--gray-input);
}

@media screen and (min-width: 1440px) {
  .stepItem {
    flex-direction: row;
    height: 46.2rem;
    transform: translateY(100%);
  }

  .stepItemVisible {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }

  .stepImgMob {
    display: none;
  }

  .stepImgDesc {
    display: block;
    width: 39.3rem;
    height: 46.2rem;
  }

  .stepTextWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 11.4rem 20.4rem 11.4rem 6.8rem;
  }

  .stepTextWrap.white {
    order: -1;
  }
  .stepCount {
    display: none;
  }

  .stepTitle {
    font-size: 3.4rem;
    width: fit-content;
    margin-bottom: 1.4rem;
  }

  .stepText {
    width: 67rem;
    height: 10.4rem;
    margin-bottom: 2.4rem;
  }
}

@media screen and (min-width: 1728px) {
  .stepItem {
    height: 462px;
  }

  .stepImgDesc {
    width: 393px;
    height: 462px;
  }

  .stepTextWrap {
    padding: 114px 204px 114px 68px;
  }

  .stepTitle {
    font-size: 34px;
    margin-bottom: 14px;
  }

  .stepText {
    width: 670px;
    height: 104px;
    margin-bottom: 24px;
  }
}
