.stepList {
  display: flex;
  flex-direction: column;
  gap: 36px;
  user-select: none;
  width: 342px;
}

.stepItem {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.stepImgMob {
  width: 342px;
  height: 342px;
  border-radius: 12px;
}

.stepImgDesc {
  display: none;
  border-radius: 16px;
}

.stepTextWrap {
  border-radius: 12px;
  padding: 32px 25px;
  cursor: pointer;
  border: 1px solid var(--gray-stroke);
  background-color: var(--white-main);
  transition: border-color 250ms var(--cubic);
}

.stepTextWrap.white {
  background-color: var(--red-main);
  border: 1px solid var(--red-main);
}

.stepCount {
  color: var(--gray-text);
  font-size: 18px;
  line-height: 160%;
  margin-bottom: 16px;
}

.stepCount.white {
  color: var(--gray-input);
}

.stepTitle {
  color: var(--black-main);
  font-size: 24px;
  font-weight: 600;
  line-height: 130%;
  width: 292px;
  margin-bottom: 8px;
}

.stepTitle.white {
  color: var(--white-main);
}

.stepText {
  width: 288px;
  color: var(--gray-text);
  font-size: 16px;
  line-height: 160%;
}

.stepText:last-child {
  margin-top: 8px;
}

.stepText.white {
  color: var(--gray-input);
}

.stepBtn {
  background-color: var(--red-main);
  color: var(--gray-input);
  font-size: 16px;
  font-weight: 500;
  padding: 13px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 36px;
  border: none;
  border-radius: 28px;
  width: 170px;
  height: 48px;
  gap: 8px;
  transition:
    border-color 250ms var(--cubic),
    color 250ms var(--cubic),
    background-color 250ms var(--cubic);
}

.stepBtnIcon {
  stroke: var(--gray-input);
  width: 22px;
  height: 22px;
  transition: stroke 250ms var(--cubic);
}

.stepBtn:hover {
  border-color: var(--white-main);
  background-color: var(--white-main);
  color: var(--red-main);
}

.stepBtn:hover .stepBtnIcon {
  stroke: var(--red-main);
}

@media screen and (min-width: 1440px) {
  .stepList {
    width: 100%;
  }
  .stepItem {
    flex-direction: row;
    opacity: 0;
    filter: blur(5px);
    transition: all 0.4s;
    transform: translateY(100%);
    height: 39.4rem;
  }

  .stepItemVisible {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }

  .stepImgMob {
    display: none;
  }

  .stepImgDesc {
    display: block;
    width: 39.3rem;
    height: 39.4rem;
  }

  .stepTextWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1.6rem;
    padding: 9rem 20.4rem 9rem 6.8rem;

    width: 94.2rem;
  }

  .stepTextWrap.white {
    order: -1;
  }
  .stepCount {
    display: none;
  }

  .stepTitle {
    font-size: 3.4rem;
    width: fit-content;
    margin-bottom: 1.4rem;
  }

  .stepText {
    font-size: 1.6rem;
    width: 67rem;
  }

  .stepText:last-child {
    margin-top: unset;
  }

  .stepBtn {
    border-radius: 2.8rem;
    margin-top: 4.8rem;
  }
}

@media screen and (min-width: 1728px) {
  .stepItem {
    height: 394px;
  }

  .stepImgDesc {
    width: 393px;
    height: 394px;
  }

  .stepTextWrap {
    padding: 90px 204px 90px 68px;
    border-radius: 16px;
  }

  .stepTitle {
    font-size: 34px;
    margin-bottom: 14px;
  }

  .stepText {
    font-size: 16px;
    width: 667px;
  }

  .stepText.first {
    width: 620px;
  }

  .stepBtn {
    border-radius: 28px;
    margin-top: 48px;
  }
}
