.heroList {
  border-radius: 16px;
  width: 252px;
  height: 118px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(2.799999952316284px);
  display: flex;
  padding: 10px 45px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
}

.heroItem {
  display: flex;
  align-items: center;
  gap: 12px;
}

.heroIcon {
  width: 16px;
  height: 16px;
}

.heroText {
  color: var(--white-main);
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}

@media screen and (min-width: 1440px) {
  .heroList {
    width: 54.7rem;
    height: 4.8rem;
    gap: 3.2rem;
    flex-direction: row;
    border-radius: 2.8rem;
    padding: 1rem 1.6rem;
  }

  .heroIcon {
    width: 2rem;
    height: 2rem;
  }

  .heroText {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1728px) {
  .heroList {
    width: 547px;
    height: 48px;
    gap: 32px;
    border-radius: 28px;
    padding: 10px 16px;
  }

  .heroIcon {
    width: 20px;
    height: 20px;
  }

  .heroText {
    font-size: 18px;
  }
}
