.pricingPlansSection {
  padding: 90px 0;
  margin: 0 auto;
}

.pricingPlansWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 194px;
  padding: 0 24px;
  margin: 0 auto;
  width: 390px;
  height: 100%;
}

.pricingPlansHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.plansTitle {
  font-size: 30px;
  font-weight: 700;
  line-height: 130%;
  max-width: 320px;
  color: var(--gray-dark-text);
  margin-bottom: 12px;
}

.plansText {
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  color: var(--gray-text);
}

.pricingPlansItems {
  display: flex;
  flex-direction: column;
  gap: 210px;
}

@media screen and (min-width: 1728px) {
  .pricingPlansSection {
    padding-bottom: 130px;
  }
  .pricingPlansWrap {
    gap: 263px;
  }
  .pricingPlansHeader {
    max-width: 729px;
  }

  .plansTitle {
    font-size: 50px;
    max-width: max-content;
    margin-bottom: 16px;
  }

  .plansText {
    font-size: 18px;
    max-width: 550px;
  }

  .pricingPlansItems {
    flex-direction: row;
    gap: 24px;
  }
}
