.header {
  background-color: transparent;

  padding: 48px 0 18px;
  border-bottom: 0.7px solid var(--white-main);
  width: 100%;
  position: absolute;
  z-index: 98;
}

.headerContainer {
  width: 100%;
  padding: 0 24px;
  margin: 0 auto;
}

.headerLogoLink {
  width: 73px;
  height: 43px;
  transition: scale 100ms var(--cubic);
}

.headerLogo {
  width: 73px;
  height: 43px;
  fill: var(--white-main);
}

.headerLogoLink:hover {
  scale: 1.05;
}

.headerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerBurgerBtn {
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  border: none;
}

.headerBurgerIcon {
  stroke: var(--white-main);
  transition: stroke 250ms var(--cubic);
}

.headerBurgerIcon:hover {
  stroke: var(--gray-text);
}

.headerLeadLink {
  display: none;
}

@media screen and (min-width: 390px) {
  .headerContainer {
    width: 390px;
  }
}

@media screen and (min-width: 1728px) {
  .header {
    padding: 24px 0;
  }

  .headerContainer {
    width: 1728px;
    padding: 0 117px;
    display: flex;
  }

  .headerBurgerBtn {
    display: none;
  }

  .headerLeadLink {
    width: 192px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    background-color: var(--red-main);
    padding: 13px 19px;
    margin-left: auto;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
    gap: 8px;
    color: var(--white-main);
    transition:
      border-color 250ms var(--cubic),
      background-color 250ms var(--cubic);
  }

  .headerIcon {
    stroke: var(--gray-input);
  }

  .headerLeadLink:hover {
    border-color: var(--white-main);
    background-color: transparent;
  }
}
