.redHelpSection {
  padding: 60px 0px 64px;
  background-color: var(--red-main);
}

.redHelpWrap {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 130%;
  color: var(--white-main);
  width: 300px;
  margin: 0 auto 8px;
}

.text {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  line-height: 160%;
  width: 342px;
  margin: 0 auto;
  color: var(--white-second);
}

.redHelpItems {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

@media screen and (min-width: 1440px) {
  .redHelpSection {
    padding: 14rem 0;
    margin: 0 auto;
  }

  .redHelpWrap {
    align-items: center;
    gap: 4.8rem;
  }

  .redHelpHeader {
    width: max-content;
  }

  .title {
    font-size: 5rem;
    max-width: 100%;
    margin-bottom: 1.4rem;
    width: 71.1rem;
  }

  .text {
    font-size: 1.8rem;
    width: 42.6rem;
    margin: 0 auto;
  }

  .redHelpItems {
    flex-direction: row;
    gap: 2rem;
  }
}

@media screen and (min-width: 1728px) {
  .redHelpSection {
    padding: 140px 0;
  }

  .redHelpWrap {
    gap: 48px;
  }

  .title {
    font-size: 50px;
    width: 711px;
    margin-bottom: 14px;
  }

  .text {
    font-size: 18px;
    width: 426px;
  }

  .redHelpItems {
    gap: 20px;
  }
}
