.redHelpSection {
  padding: 90px 24px;
  background-color: var(--red-main);
}

.redHelpWrap {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 130%;
  color: var(--white-main);
  max-width: 300px;
  margin: 0 auto 12px;
}

.text {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  line-height: 160%;
  width: 342px;
  margin: 0 auto;
  color: var(--white-second);
}

.redHelpItems {
  display: flex;
  flex-direction: column;
  gap: 34px;
  align-items: center;
}

@media screen and (min-width: 1728px) {
  .redHelpSection {
    padding: 140px 0;
    margin: 0 auto;
  }

  .redHelpWrap {
    align-items: center;
  }

  .redHelpHeader {
    width: max-content;
  }

  .title {
    font-size: 50px;
    max-width: 100%;
    margin-bottom: 14px;
  }

  .text {
    font-size: 18px;
    width: 426px;
    margin: 0 auto;
  }

  .redHelpItems {
    flex-direction: row;
    gap: 20px;
  }
}
