.LeadModalMainWrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 98;
  width: 100%;
  height: 100dvh;
  overflow-y: hidden;
  background-color: var(--white-main);
}

.LeadModalContainer {
  padding: 0 16px;
  width: 100%;
  height: 256px;
  margin: 0 auto;
}

.LeadModalCloseBtn {
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  border: none;
  margin-bottom: 172px;
  padding: 18px 24px;
  margin-left: auto;
}

.LeadModalIcon {
  width: 44px;
  height: 44px;
  stroke: var(--black-main);
  transition: stroke 250ms var(--cubic);
}

.LeadModalIcon:hover {
  stroke: var(--gray-text);
}

.LeadModalTitle,
.LeadModalTitleDesc {
  width: fit-content;
  height: 94px;
  text-align: center;
  color: var(--black-main);
  font-size: 36px;
  font-weight: 700;
  line-height: 130%;
  margin: 0 auto;
  margin-bottom: 16px;
}

.LeadModalTitle {
  margin-bottom: 12px;
}

.LeadModalTitleDesc {
  display: none;
}

.LeadModalText,
.LeadModalTextDesc {
  color: var(--gray-text);
  text-align: center;
  width: fit-content;
  text-align: center;
  height: 78px;
  font-size: 16px;
  line-height: 160%;
  margin: 0 auto;
  margin-bottom: 32px;
}

.LeadModalText {
  margin-bottom: 24px;
  width: 344px;
}

.LeadModalTextDesc {
  display: none;
}

.LeadModalBtn,
.LeadModalBtnDesc {
  font-size: 16px;
  font-weight: 500;
  border-radius: 6px;
  border: 1px solid var(--red-main);
  background-color: var(--red-main);
  color: var(--white-main);
  padding: 14px 44px;
  width: 168px;
  height: 48px;
  justify-content: center;
  margin: 0 auto;
  transition:
    border-color 250ms var(--cubic),
    color 250ms var(--cubic),
    background-color 250ms var(--cubic);
}

.LeadModalBtn {
  border-radius: 28px;
}

.LeadModalBtnDesc {
  display: none;
}

.LeadModalBtn:hover,
.LeadModalBtnDesc :hover {
  border-color: var(--white-main);
  background-color: var(--white-main);
  color: var(--red-main);
}

@media screen and (min-width: 390px) {
  .LeadModalContainer {
    width: 390px;
    padding: 0 24px;
  }
}

@media screen and (min-width: 1440px) {
  .LeadModalMainWrap {
    width: 73.8rem;
    height: 72.6rem;
    padding: 20.5rem 12.5rem;
    border-radius: 1.2rem;
  }

  .LeadModalCloseBtn {
    display: none;
  }

  .LeadModalContainer {
    width: 100%;
    padding-bottom: unset;
    padding: unset;
  }

  .LeadModalTitle {
    display: none;
  }

  .LeadModalTitleDesc {
    display: block;
    font-size: 5rem;
    width: fit-content;
    height: auto;
    margin-bottom: 1.4rem;
  }

  .LeadModalText {
    display: none;
  }

  .LeadModalTextDesc {
    display: block;
    font-size: 1.8rem;
  }

  .LeadModalBtn {
    display: none;
  }

  .LeadModalBtnDesc {
    display: flex;
    padding: 1.4rem 2rem;
    width: 15.4rem;
    height: 5.2rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
    border-radius: 2.8rem;
    transition:
      border-color 250ms var(--cubic),
      color 250ms var(--cubic),
      background-color 250ms var(--cubic);
  }

  .LeadModalBtnDesc:hover {
    border-color: var(--white-main);
    background-color: var(--white-main);
    color: var(--red-main);
  }
}

@media screen and (min-width: 1728px) {
  .LeadModalMainWrap {
    width: 738px;
    height: 726px;
    padding: 205px 125px;
    border-radius: 12px;
  }

  .LeadModalTitleDesc {
    font-size: 50px;
    margin-bottom: 14px;
  }

  .LeadModalTextDesc {
    font-size: 18px;
  }

  .LeadModalBtnDesc {
    padding: 14px 20px;
    width: 154px;
    font-size: 16px;
    height: 52px;
    line-height: 24px;
    border-radius: 28px;
  }
}
