.headerList {
  display: none;
}

.headerItem {
}

@media screen and (min-width: 1728px) {
  .headerList {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-left: 145px;
  }

  .headerNavLink {
    color: var(--white-main);
    font-size: 16px;
    font-weight: 600;
    transition: color 250ms var(--cubic);
  }

  .headerNavLink:hover {
    color: var(--gray-dark-text);
  }
}
