.headerList {
  display: none;
}

@media screen and (min-width: 1440px) {
  .headerList {
    display: flex;
    align-items: center;
    gap: 3.2rem;
    margin-left: 14.5rem;
    height: 100%;
  }

  .headerNavLink {
    color: var(--white-main);
    font-size: 1.6rem;
    font-weight: 600;
    height: 100%;
    display: flex;
    align-items: center;
    transition: color 250ms var(--cubic);
  }

  .headerNavLink.blackStyle {
    color: var(--black-main);
  }

  .headerItem {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .currentPage {
    position: absolute;
    content: '';
    opacity: 0;
    border-radius: 2px;
    background-color: var(--white-main);
    width: 0px;
    height: 3px;
    left: 10px;
    bottom: 0;
    transition: all 0.3s ease;
  }

  .currentPage.active {
    width: 100%;
    opacity: 1;
    left: 0px;
  }

  .headerItem.blackStyle .currentPage {
    background-color: var(--black-main);
  }

  .headerNavLink:hover {
    color: var(--gray-dark-text);
  }
}

@media screen and (min-width: 1728px) {
  .headerList {
    gap: 32px;
    margin-left: 145px;
  }

  .headerNavLink {
    font-size: 16px;
  }
}
