.sliderMainWrap {
  width: 100%;
}

.sliderWrap {
  padding-left: 15px;
  height: 344px;
}

.slideWrap {
  width: 315px;
}

.slide {
  cursor: pointer;
  padding: 24px;
  height: 318px;
  width: 315px;
  border-radius: 12px;
  box-shadow: 4px 12px 19px 0px rgba(24, 24, 24, 0.08);
  background-color: var(--white-main);
  transition: border-color 250ms var(--cubic);
}

.slideTitle {
  color: var(--gray-light-text);
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 18px;
}

.slideText {
  color: var(--gray-text);
  line-height: 160%;
  font-size: 14px;
  margin-bottom: 57px;
  width: 265px;
  height: 114px;
}

.slideBottomWrap {
  display: flex;
  align-items: center;
  gap: 18px;
}

.slideImg {
  width: 63px;
  border-radius: 10.8px;
  height: 63px;
}

.slideRatingWrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 9px;
}

.slideUserName {
  color: var(--black-main);
  font-size: 14px;
  font-weight: 600;
  line-height: 160%;
  margin-right: auto;
}

.slideRating {
  margin-right: auto;
  display: flex;
  gap: 6px;
}

.slideStarIcon {
  fill: var(--star-main);
}

.sliderBtnWrap {
  display: none;
}

.nextArrow,
.prevArrow {
  stroke: var(--gray-text);
}

@media screen and (min-width: 1440px) {
  .sliderMainWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 142rem;
    margin: 0 auto;
  }

  .sliderWrap {
    padding-left: unset;
    height: 30.4rem;
    width: 142rem;
    display: flex;
    margin: 0 2.4rem;
  }

  .slideWrap {
    width: 46rem;
  }

  .slide {
    padding: 2.4rem 4.8rem;
    height: 30.4rem;
    width: 46rem;
    border-radius: 1.6rem;
  }

  .slideTitle {
    margin-bottom: 1.2rem;
  }

  .slideText {
    font-size: 1.6rem;
    width: 36.4rem;
    height: 13rem;
    margin-bottom: 2.4rem;
  }

  .slideBottomWrap {
    gap: 2rem;
  }

  .slideImg {
    width: 7rem;
    height: 7rem;
  }

  .slideUserName {
    color: var(--black-second);
  }

  .sliderBtnWrap {
    cursor: pointer;
    display: flex;
    width: 7.3rem;
    height: 7.3rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--gray-stroke);
    flex-shrink: 0;
    transition:
      background-color 250ms var(--cubic),
      border-color 250ms var(--cubic);
  }

  .sliderBtnWrap:hover {
    border-color: var(--red-main);
    background-color: var(--red-main);
  }

  .prevArrow {
    transition: stroke 250ms var(--cubic);
    transform: rotate(180deg);
  }
  .nextArrow {
    transition: stroke 250ms var(--cubic);
  }

  .sliderBtnWrap:hover .nextArrow,
  .sliderBtnWrap:hover .prevArrow {
    stroke: var(--white-main);
  }

  .slideStarIcon {
    width: 2.1rem;
    height: 2.1rem;
  }
}

@media screen and (min-width: 1728px) {
  .sliderMainWrap {
    width: 1420px;
  }

  .sliderWrap {
    height: 304px;
    width: 1420px;
    margin: 0 24px;
  }

  .slideWrap {
    width: 460px;
  }

  .slide {
    padding: 24px 48px;
    height: 304px;
    width: 460px;
    border-radius: 16px;
  }

  .slideTitle {
    margin-bottom: 12px;
  }

  .slideText {
    font-size: 16px;
    width: 364px;
    height: 130px;
    margin-bottom: 24px;
  }

  .slideBottomWrap {
    gap: 20px;
  }

  .slideImg {
    width: 70px;
    height: 70px;
  }

  .sliderBtnWrap {
    width: 73px;
    height: 73px;
  }

  .slideStarIcon {
    width: 21px;
    height: 21px;
  }
}
