.jobFormWrap {
  padding: 100px 0 0px;
  background-color: var(--white-main);
}

.jobFormTitle {
  color: var(--black-main);
  font-size: 28px;
  font-weight: 600;
  line-height: 130%;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 12px;
}

.jobFormText {
  color: var(--gray-text);
  font-size: 16px;
  line-height: 160%;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 32px;
}

.jobForm {
  width: 100%;
}

.jobLabelWrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
  gap: 18px;
}

.jobLabel {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--black-main);
  font-weight: 500;
  width: 100%;
  position: relative;
}

.jobInput,
.jobInputFile {
  color: var(--black-main);
  font-size: 15px;
  padding: 12px;
  width: 100%;
  height: 46px;
  border: 1px solid var(--gray-stroke);
  border-radius: 8px;
  background-color: var(--gray-input);
  outline: none;
}

.jobInputFile {
  font-size: 0px;
  border-radius: 8px 0px 0px 8px;
  cursor: pointer;
  width: 226px;
  content-visibility: hidden;
  position: relative;
  cursor: pointer;
}

.jobFilePlaceholderMob,
.jobFilePlaceholderDesc {
  position: absolute;
  color: var(--gray-text);
  line-height: 157%;
  top: 36px;
  z-index: 2;
  left: 12px;
  cursor: pointer;
  font-weight: 400;
  line-height: 157%;
  font-size: 15px;
}

.jobFilePlaceholderMob.withFile,
.jobFilePlaceholderDesc.withFile {
  color: var(--black-main);
}

.jobFilePlaceholderDesc {
  display: none;
}

.jobUploadBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 116px;
  height: 46px;
  border-radius: 0px 8px 8px 0px;
  color: var(--black-main);
  background-color: var(--white-main);
  border: 1px solid var(--gray-stroke);
  border-left: unset;
  padding: 14px 32px;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  right: 0;
  top: 24px;
  cursor: pointer;
}

.jobUploadBtn.withFile {
  background-color: var(--red-main);
  border-color: var(--red-main);
  color: var(--white-main);
}

.jobInput.error {
  border: 1px solid var(--red-main);
}

.jobInput::placeholder {
  color: var(--gray-text);
  font-size: 15px;
}

.errorText {
  position: absolute;
  right: 10px;
  top: 73px;
  width: fit-content;
  color: var(--red-main);
  font-size: 10px;
}

.jobBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 143px;
  color: var(--gray-input);
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  height: 48px;
  background-color: var(--red-main);
  border: none;
  border-radius: 28px;
  transition:
    border-color 250ms var(--cubic),
    color 250ms var(--cubic),
    background-color 250ms var(--cubic);
}

.jobBtn:disabled {
  cursor: not-allowed;
}

.jobBtn:not(:disabled):hover {
  border-color: var(--white-main);
  background-color: var(--white-main);
  color: var(--red-main);
}

.jobBtn:not(:disabled):hover .loader > svg {
  fill: var(--red-main);
}

@media screen and (min-width: 390px) {
  .karriereInput,
  .karriereBtn {
    width: 342px;
  }
}

@media screen and (min-width: 1440px) {
  .jobFormWrap {
    position: absolute;
    right: 18.6rem;
    top: 56.2rem;
    width: 53rem;
    height: 67.6rem;
    padding: 7.2rem 6.9rem;
    border: 1px solid var(--gray-stroke);
    box-shadow: 0px 0.4px 1.8rem 0px rgba(0, 0, 0, 0.08);
    border-radius: 1.6rem;
  }

  .jobFormTitle {
    margin-bottom: 1.4rem;
    font-size: 2.8rem;
    line-height: normal;
  }

  .jobFormText {
    font-size: 1.8rem;
    margin-bottom: 3.2rem;
  }

  .jobForm {
    width: 39.2rem;
    display: flex;
    flex-direction: column;
  }

  .jobLabelWrap {
    margin-bottom: 5.4rem;
  }

  .jobLabel {
    gap: 0.6rem;
  }

  .jobInput {
    width: 100%;
    padding: 1.4rem 1.6rem;
    border-radius: 0.8rem;
  }

  .jobInput::placeholder {
    line-height: 110%;
  }

  .jobFilePlaceholderMob {
    display: none;
  }

  .jobFilePlaceholderDesc {
    display: block;
    top: 4.3rem;
    left: 1.6rem;
    line-height: 110%;
  }

  .jobInputFile {
    width: 27.6rem;
    border-radius: 0.8rem 0rem 0rem 0.8rem;
  }

  .jobUploadBtn {
    padding: 1.4rem 3.2rem;
    width: 11.6rem;
    top: 2.5rem;
    border-radius: 0rem 0.8rem 0.8rem 0rem;
  }

  .jobBtn {
    width: 100%;
    border-radius: 2.8rem;
    padding: 1.5rem 16.8rem;
  }
}

@media screen and (min-width: 1510px) {
  .jobUploadBtn {
    top: 2.3rem;
  }

  .jobFilePlaceholderDesc {
    top: 4rem;
  }
}

@media screen and (min-width: 1615px) {
  .jobUploadBtn {
    top: 2.2rem;
  }
}

@media screen and (min-width: 1728px) {
  .jobFormWrap {
    right: 186px;
    top: 562px;
    width: 530px;
    height: 676px;
    padding: 72px 69px;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
  }

  .jobFormTitle {
    margin-bottom: 14px;
    font-size: 28px;
  }

  .jobFormText {
    font-size: 18px;
    margin-bottom: 32px;
  }

  .jobForm {
    width: 392px;
  }

  .jobLabelWrap {
    margin-bottom: 54px;
  }

  .jobLabel {
    gap: 6px;
  }

  .jobInput {
    border-radius: 8px;
    padding: 14px 16px;
  }

  .jobFilePlaceholderDesc {
    top: 36px;
    left: 16px;
  }

  .jobInputFile {
    border-radius: 8px 0px 0px 8px;
    width: 276px;
  }

  .jobUploadBtn {
    padding: 14px 32px;
    width: 116px;
    top: 22px;
    border-radius: 0px 8px 8px 0px;
  }

  .jobBtn {
    padding: 15px 168px;
    border-radius: 28px;
  }
}
