.angebotForm {
  width: 100%;
}

.angebotLabelWrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.angebotLabel,
.angebotLabelTextArea {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--white-main);
  font-size: 14px;
  width: 100%;
  position: relative;
}

.angebotLabel:not(:last-child) {
  margin-bottom: 18px;
}

.angebotInput,
.angebotInputFile {
  color: var(--black-main);
  font-size: 15px;
  padding: 12px;
  width: 100%;
  height: 46px;
  border: 1px solid var(--gray-stroke);
  border-radius: 8px;
  background-color: var(--gray-input);
  outline: none;
}

.angebotInputFile {
  font-size: 0px;
  border-radius: 8px 0px 0px 8px;
  cursor: pointer;
  width: 226px;
  content-visibility: hidden;
  position: relative;
  cursor: pointer;
}

.angebotFilePlaceholderMob,
.angebotFilePlaceholderDesc {
  position: absolute;
  color: var(--gray-text);
  line-height: 157%;
  top: 36px;
  z-index: 2;
  left: 12px;
  cursor: pointer;
}

.angebotFilePlaceholderMob.withFile,
.angebotFilePlaceholderDesc.withFile {
  color: var(--black-main);
}

.angebotFilePlaceholderDesc {
  display: none;
}

.angebotUploadBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 116px;
  height: 46px;
  border-radius: 0px 8px 8px 0px;
  color: var(--white-main);
  background-color: var(--red-main);
  padding: 14px 32px;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  right: 1px;
  top: 24px;
  cursor: pointer;
}

.angebotInput.error {
  border: 1px solid var(--red-main);
}

.angebotInput::placeholder {
  color: var(--gray-text);
}

.angebotLabelTextArea {
  margin-bottom: 24px;
}

.angebotTextArea {
  border: 1px solid var(--gray-stroke);
  background-color: var(--gray-input);
  width: 100%;
  height: 145px;
  padding: 12px 16px;
  border-radius: 12px;
  resize: none;
  outline: none;
}

.angebotTextArea::placeholder {
  color: var(--gray-text);
}

.errorText {
  position: absolute;
  right: 10px;
  top: 73px;
  width: fit-content;
  color: var(--red-main);
  font-size: 10px;
}

.angebotBtnWrap {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.angebotText {
  color: var(--white-main);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.16px;
}

.angebotBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 143px;
  color: var(--gray-input);
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  height: 48px;
  background-color: var(--red-main);
  border: none;
  border-radius: 28px;
  transition:
    border-color 250ms var(--cubic),
    color 250ms var(--cubic),
    background-color 250ms var(--cubic);
}

.angebotBtn:disabled {
  cursor: not-allowed;
}

.angebotBtn:not(:disabled):hover {
  border-color: var(--white-main);
  background-color: var(--white-main);
  color: var(--red-main);
}

.angebotBtn:not(:disabled):hover .loader > svg {
  fill: var(--red-main);
}

@media screen and (min-width: 390px) {
  .angebotInput,
  .angebotTextArea,
  .angebotBtn {
    width: 342px;
  }
}

@media screen and (min-width: 1440px) {
  .angebotForm {
    width: 53rem;
  }

  .angebotLabelWrap {
    flex-direction: row;
    gap: 2rem;
  }

  .angebotLabel {
    gap: 0.6rem;
    font-size: 1.4rem;
  }

  .angebotLabel.email {
    margin-bottom: unset;
  }

  .angebotLabelTextArea {
    margin-bottom: 2.4rem;
    font-size: 1.4rem;
  }

  .angebotTextArea {
    height: 10.2rem;
    border-radius: 0.6rem;
    width: 100%;
  }

  .angebotInput {
    width: 100%;
    border-radius: 0.6rem;
  }

  .angebotInput::placeholder {
    line-height: 110%;
  }

  .angebotFilePlaceholderMob {
    display: none;
  }

  .angebotFilePlaceholderDesc {
    display: block;
    top: 3.8rem;
    line-height: 110%;
  }

  .angebotInputFile {
    width: 41.4rem;
    border-radius: 0.6rem 0rem 0rem 0.6rem;
    padding: 1.2rem;
    border-radius: 0.6rem;
    height: 4.6rem;
  }

  .angebotUploadBtn {
    top: 2.5rem;
    height: 4.6rem;
    width: 11.7rem;
    font-size: 1.5rem;
    padding: 1.4rem 3.2rem;
    border-radius: 0rem 0.6rem 0.6rem 0rem;
  }

  .angebotBtnWrap {
    flex-direction: row;
    gap: 2rem;
    align-items: center;
  }

  .angebotText {
    font-size: 1.4rem;
    width: 41.7rem;
  }

  .angebotBr {
    display: none;
  }

  .angebotBtn {
    width: 9.2rem;
    height: 4.6rem;
    padding: 1.4rem 2rem;
    border-radius: 0.6rem;
    font-size: 1.6rem;
  }

  .angebotLabel:not(:last-child) {
    margin-bottom: unset;
  }

  .angebotLabel.file {
    margin-bottom: 1.8rem;
  }
}

@media screen and (min-width: 1520px) {
  .angebotUploadBtn {
    top: 2.2rem;
  }
}

@media screen and (min-width: 1670px) {
  .angebotUploadBtn {
    top: 2.2rem;
  }
}

@media screen and (min-width: 1728px) {
  .angebotForm {
    width: 530px;
  }

  .angebotLabelWrap {
    gap: 20px;
  }

  .angebotLabel {
    gap: 6px;
    font-size: 14px;
  }

  .angebotLabelTextArea {
    margin-bottom: 24px;
    font-size: 14px;
  }

  .angebotTextArea {
    height: 102px;
    border-radius: 6px;
  }

  .angebotInput::placeholder {
    line-height: 110%;
  }

  .angebotFilePlaceholderDesc {
    top: 38px;
  }

  .angebotInputFile {
    width: 414px;
    padding: 12px;
    height: 46px;
    border-radius: 6px 0px 0px 6px;
  }

  .angebotInput {
    border-radius: 6px;
  }
  .angebotUploadBtn {
    top: 22px;
    height: 46px;
    font-size: 15px;
    width: 117px;
    border-radius: 0px 6px 6px 0px;
    padding: 14px 32px;
  }

  .angebotBtnWrap {
    gap: 20px;
  }

  .angebotText {
    font-size: 14px;
    width: 417px;
  }

  .angebotBtn {
    width: 92px;
    height: 46px;
    padding: 14px 20px;
    border-radius: 6px;
    font-size: 16px;
  }

  .angebotLabel.file {
    margin-bottom: 18px;
  }
}
