.heroPvSection {
  background-image: url('../../../public/images/pvsystem-hero-mob.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 202px;
}

.heroPvContainer {
}

@media screen and (min-width: 390px) {
  .heroPvContainer {
  }
}

@media screen and (min-width: 1728px) {
  .heroPvSection {
  }
  .heroPvContainer {
  }
}
