.contactUsImgWrap {
  position: relative;
  width: 342px;
  height: 481px;
  border-radius: 12px;
  overflow: hidden;
}

/*Delete outline from google map  */

.contactUsImgWrap > div > div > div > div:nth-of-type(2) {
  border: none !important;
  opacity: 0 !important;
}
/*Delete shadow from google info  */

.contactUsImgWrap
  > div
  > div
  > div
  > div
  > div
  > div
  > div
  > div
  > div
  > div
  > div {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.contactUsAddressMainWrap {
  display: flex;
  gap: 18px;
  position: absolute;
  top: 334px;
  left: 16px;
  width: 310px;
  height: 129px;
  display: flex;
  border-radius: 10px;
  border: 1px solid var(--gray-stroke);
  background: var(--white-main);
  padding: 16px 20px;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
}

.contactUsLocationWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
}

.contactUsLocationText {
  color: var(--gray-dark-text);
  width: 150px;
  font-weight: 700;
  line-height: 157%;
  position: absolute;
  text-align: center;
  top: 8px;
  left: 12px;
}

.contactUsPointIcon {
  margin: 0 auto;
}

.contactUsAddressWrap {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.contactUsList {
  display: flex;
  width: 100%;
  gap: 19px;
  flex-direction: column;
}

.contactUsItem {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.contactUsTitle {
  color: var(--gray-dark-text);
  font-size: 16px;
  font-weight: 600;
  width: fit-content;
}

.contactUsLink {
  color: var(--red-main);
  font-size: 12px;
  font-weight: 500;
}

.contactUsLink.address {
  color: var(--gray-text);
  line-height: 160%;
  width: 128px;
}

.contactUsBr {
  display: none;
}

@media screen and (min-width: 1440px) {
  .contactUsImgWrap {
    order: 1;
    width: 66.8rem;
    height: 49rem;
  }

  .contactUsAddressMainWrap {
    width: 60.4rem;
    height: 14.6rem;
    gap: 2.4rem;
    top: 31.2rem;
    left: 3.2rem;
  }

  .contactUsLocationWrap {
    top: 7.8rem;
    right: 17.4rem;
  }

  .contactUsLocationText {
    line-height: 160%;
    text-align: center;
  }

  .contactUsAddressWrap {
    width: calc(100% / 2);
  }

  .contactUsList {
    width: calc(100% / 2);
  }
}

@media screen and (min-width: 1728px) {
  .contactUsImgWrap {
    width: 668px;
    height: 490px;
  }

  .contactUsAddressMainWrap {
    width: 604px;
    height: 146px;
    gap: 24px;
    top: 312px;
    left: 32px;
  }

  .contactUsLocationWrap {
    top: 78px;
    right: 174px;
  }
}
