.leadSection {
  padding: 36px 0;
  transition: all 0.2s ease-in-out;
}

.leadContainer {
  width: 375px;
  padding: 0 16px;
  margin: 0 auto;
  position: relative;
}

.leadMainTitle {
  color: var(--black-main);
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  width: 237px;
  margin: 0 auto;
  margin-bottom: 34px;
}

.leadTitleIcon {
  width: 47px;
  position: absolute;
  top: 51px;
  right: 74px;
  height: 47px;
  stroke: var(--red-main);
}

@media screen and (min-width: 390px) {
  .leadContainer {
    width: 390px;
    padding: 0 24px;
  }
  .leadTitleIcon {
    right: 82px;
  }
}

@media screen and (min-width: 1440px) {
  .leadSection {
    padding: 5rem 0 7rem;
  }

  .leadContainer {
    width: 172.8rem;
    padding: 0 32.2rem;
  }

  .leadTitle {
    font-size: 5rem;
    line-height: 120%;
    margin-bottom: 5.4rem;
  }
  .leadMainTitle {
    display: none;
  }

  .leadTitleIcon {
    display: none;
  }
}

@media screen and (min-width: 1728px) {
  .leadSection {
    padding: 50px 0 70px;
  }

  .leadContainer {
    width: 1728px;
    padding: 0 322px;
  }

  .leadTitle {
    font-size: 50px;
    margin-bottom: 54px;
  }
}
