.stepSevenWrap {
}

.stepSevenTitle {
  color: var(--black--main);
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 12px;
}

.stepSevenText {
  color: var(--gray-text);
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  line-height: 140%;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 24px;
}

@media screen and (min-width: 1440px) {
  .stepSevenWrap {
  }

  .stepSevenTitle {
    font-size: 3.6rem;
    line-height: 140%;
    margin-bottom: 0.8rem;
  }

  .stepSevenText {
    font-size: 2rem;
    margin-bottom: 3.6rem;
  }
}

@media screen and (min-width: 1728px) {
  .stepSevenWrap {
  }

  .stepSevenTitle {
    font-size: 36px;
    margin-bottom: 8px;
  }

  .stepSevenText {
    font-size: 20px;
    margin-bottom: 36px;
  }
}
