@media screen and (min-width: 1440px) {
  .carousel {
    width: 89.1rem;
    height: 62rem;
    overflow: hidden;
  }

  .carouselWrapper {
    display: flex;
    gap: 4rem;
    width: max-content;
    height: 100%;
    transition: all 0.4s ease-in-out;
  }

  .first {
    background-image: url('/images/common/team-1-desk.webp');
  }

  .second {
    background-image: url('/images/common/team-2-desk.webp');
    background-position-x: 55%;
  }

  .third {
    background-image: url('/images/common/team-3-desk.webp');
    background-position-x: 50%;
  }

  .fourth {
    background-image: url('/images/common/team-4-desk.webp');
    background-position-x: 63%;
  }

  .fifth {
    background-image: url('/images/common/team-5-desk.webp');
  }

  .sixth {
    background-image: url('/images/common/team-6-desk.webp');
    background-position-x: 75%;
  }

  .seventh {
    background-image: url('/images/common/team-7-desk.webp');
    background-position-x: 50%;
  }

  .eighth {
    background-image: url('/images/common/team-8-desk.webp');
    background-position-x: 72%;
  }

  .carouselItem {
    position: relative;
    background-size: cover;

    border-radius: 1.2rem;
    width: 15.8rem;
    transition: width 0.4s ease-in-out;
  }

  .active {
    width: 49.5rem;
  }

  .teamTopWrap {
    border-radius: 3.3rem;
    background-color: var(--red-main);
    width: 14.4rem;
    height: 4.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    gap: 0.2rem;
    top: 3.2rem;
    right: 3.3rem;
    opacity: 0;
    transition: opacity 700ms var(--cubic);
  }

  .teamTopWrap.active {
    opacity: 1;
  }

  .teamImgIcon {
    width: 1.8rem;
    height: 1.9rem;
    fill: var(--white-main);
  }

  .teamTextWrap {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 4.5rem;
    left: 2.9rem;
    opacity: 0;
    transition: opacity 0.4s var(--cubic);
  }

  .active .teamTextWrap {
    opacity: 1;
  }

  .teamImgTitle {
    color: var(--white-main);
    font-weight: 600;
    line-height: 130%;
    font-size: 3.5rem;
    width: 27.2rem;
    margin-bottom: 1.6rem;
  }

  .teamImgText {
    color: var(--white-main);
    width: fit-content;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 160%;
  }

  .teamImgBtn {
    display: flex;
    padding: 15px 50px;
    color: var(--red-main);
    justify-content: center;
    align-items: center;
    border-radius: 28px;
    background-color: var(--white-main);
    width: max-content;
    height: 50px;
    border: 1px solid var(--white-main);
    font-size: 16px;
    font-weight: 600;
    transition:
      border-color 250ms var(--cubic),
      color 250ms var(--cubic),
      background-color 250ms var(--cubic);
  }

  .teamImgBtn:is(:hover, :focus) {
    background-color: var(--red-main);
    border-color: var(--red-main);
    color: var(--white-main);
  }
}
@media screen and (min-width: 1728px) {
  .carousel {
    width: 891px;
    height: 620px;
  }

  .carouselWrapper {
    gap: 40px;
  }

  .carouselItem {
    border-radius: 12px;
    width: 158px;
  }

  .active {
    width: 495px;
  }

  .teamTopWrap {
    border-radius: 33px;
    width: 144px;
    height: 46px;
    gap: 2px;
    top: 32px;
    right: 33px;
  }

  .teamImgIcon {
    width: 18px;
    height: 19px;
  }

  .teamTextWrap {
    bottom: 45px;
    left: 29px;
  }

  .teamImgTitle {
    font-size: 35px;
    margin-bottom: 16px;
    width: 272px;
  }

  .teamImgText {
    font-size: 22px;
  }
}
