.objectMainTitle {
  color: var(--black-main);
  font-size: 30px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 16px;
}

.objectMainText {
  color: var(--gray-text);
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 42px;
}

@media screen and (min-width: 1440px) {
  .objectMainTitle {
    font-size: 3.4rem;
    width: fit-content;
  }
  .objectMainText {
    font-size: 1.8rem;
    width: 45.8rem;
    margin-bottom: 3.2rem;
  }
}

@media screen and (min-width: 1728px) {
  .objectMainTitle {
    font-size: 34px;
  }
  
  .objectMainText {
    font-size: 18px;
    width: 458px;
    margin-bottom: 32px;
  }
}
