.footerContainer {
  width: 390px;
  padding: 0px 10px 0px 24px;
  margin: 0 auto;
}
.footer {
  padding: 58px 0px 84px;
  background-color: var(--black-main);
}

.footerMainList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  gap: 40px 32px;
  margin-bottom: 70px;
}

.footerMainItem {
  width: 162px;
}

.footerMainItem:last-child {
  margin-bottom: auto;
}

.footerMainLink {
  color: var(--white-main);
  font-size: 16px;
  font-weight: 600;
  width: fit-content;
  margin-bottom: 24px;
  display: block;
  transition: scale 250ms var(--cubic);
}

.footerMainLink:hover {
  scale: 1.05;
}

.footerList {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.footerItem {
  width: fit-content;
  cursor: pointer;
}

.footerLink {
  color: var(--gray-text);
  font-size: 14px;
  font-weight: 500;
  width: fit-content;
  transition: color 100ms var(--cubic);
}

.footerLink:hover {
  color: var(--white-main);
}

.footerUpBtn {
  display: flex;
  padding: 12px;
  border: none;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: var(--red-main);
  margin: 0 auto;
  margin-bottom: 8px;
  cursor: pointer;
  transition:
    background-color 250ms var(--cubic),
    stroke 250ms var(--cubic);
}

.UpBtnIcon {
  stroke: var(--white-main);
}

.footerUpBtn:hover {
  background-color: var(--white-main);
}

.UpBtnIcon {
  stroke: var(--white-main);
}

.footerUpBtn:hover .UpBtnIcon {
  stroke: var(--red-main);
}

.companyText {
  color: var(--gray-text);
  width: fit-content;
  font-weight: 400;
  line-height: 160%;
  margin: 0 auto;
  margin-bottom: 12px;
}

.footerSocialList {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 18px;
  justify-content: center;
}

.footerSocialItem {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px;
  transition:
    background-color 250ms var(--cubic),
    fill 250ms var(--cubic);
}

.footerSocialLink {
  height: 16px;
  width: 16px;
}

.footerSocialIcon {
  fill: var(--white-main);
  height: 16px;
  width: 16px;
}

.footerSocialIcon.instagram,
.footerSocialIcon.facebook,
.footerSocialLink.instagram,
.footerSocialLink.facebook {
  height: 18px;
  width: 18px;
}

.footerSocialItem:hover {
  background-color: var(--white-main);
}

.footerSocialIcon {
  fill: var(--white-main);
}

.footerSocialItem:hover .footerSocialIcon {
  fill: var(--red-main);
}

.footerBottomText {
  color: var(--gray-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  width: fit-content;
  margin: 0 auto;
}

@media screen and (min-width: 1728px) {
  .footerContainer {
    padding: 0px 231px 0px 185px;
    width: 1728px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  .footer {
    padding: 120px 0px 38px;
  }

  .footerMainList {
    justify-content: flex-end;
    gap: 0px 90px;
    margin-bottom: 124px;
  }

  .footerMainItem {
    width: fit-content;
  }

  .footerLink {
    font-size: 16px;
  }

  .footerUpBtn {
    position: absolute;
    bottom: 42px;
    margin: unset;
    left: 816px;
  }

  .companyText {
    font-size: 16px;
    margin-bottom: unset;
  }

  .footerSocialList {
    position: absolute;
    top: 97px;
    left: 185px;
    margin: unset;
  }

  .footerBottomText {
    position: absolute;
    font-size: 18px;
    width: 247px;
    top: 0;
    left: 185px;
  }
}
