.footer {
  padding: 58px 0px 84px;
  background-color: var(--black-main);
}

.footerContainer {
  width: 100%;
  padding: 0 24px;
  margin: 0 auto;
}

.footerCookieWrap {
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: fit-content;
  margin-bottom: 68px;
}

.cookieLink,
.impressumLink {
  color: var(--gray-text);
  font-size: 15px;
  font-weight: 500;
  width: fit-content;
  transition: color 100ms var(--cubic);
}

.cookieLink:hover,
.impressumLink:hover {
  color: var(--white-main);
}

.footerUpBtn {
  display: flex;
  padding: 12px;
  border: none;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: var(--red-main);
  margin: 0 auto;
  margin-bottom: 8px;
  cursor: pointer;
  transition: background-color 250ms var(--cubic);
}

.UpBtnIcon {
  stroke: var(--white-main);
  transition: stroke 250ms var(--cubic);
}

.footerUpBtn:hover {
  background-color: var(--white-main);
}

.UpBtnIcon {
  stroke: var(--white-main);
}

.footerUpBtn:hover .UpBtnIcon {
  stroke: var(--red-main);
}

.companyText {
  color: var(--gray-text);
  width: fit-content;
  font-weight: 400;
  line-height: 160%;
  margin: 0 auto;
  margin-bottom: 12px;
}

.footerBottomText {
  color: var(--gray-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  width: fit-content;
  margin: 0 auto;
}

@media screen and (min-width: 390px) {
  .footerContainer {
    width: 390px;
    padding: 0px 10px 0px 24px;
  }
}

@media screen and (min-width: 1728px) {
  .footerContainer {
    padding: 0px 231px 0px 185px;
    width: 1728px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  .footer {
    padding: 120px 0px 38px;
  }

  .footerCookieWrap {
    position: absolute;
    bottom: 0;
    left: 185px;
    flex-direction: row;
    gap: 28px;
    margin: unset;
  }

  .cookieText,
  .impressumText {
    font-size: 16px;
  }

  .footerUpBtn {
    position: absolute;
    bottom: 42px;
    margin: unset;
    left: 816px;
  }

  .companyText {
    font-size: 16px;
    margin-bottom: unset;
  }

  .footerBottomText {
    position: absolute;
    font-size: 18px;
    width: 247px;
    top: 0;
    left: 185px;
  }
}
