@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 5rem rgba(90, 153, 212, 0);
  }
  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

.uberHeroSection {
  padding: 239px 0 204px;
  height: auto;
  overflow: hidden;

  position: relative;
}

.uberHeroImgMob {
  animation: scaleIn 3.5s forwards;
  object-fit: cover;
}

.uberHeroImgDesc {
  display: none;
  animation: scaleIn 4s forwards;
  object-fit: cover;
}

.uberHeroContainer {
  width: 100%;
  padding: 0 24px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.uberHeroTitle {
  color: var(--white-main);
  font-size: 36px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 12px;
}

.uberHeroText {
  margin: 0 auto;

  color: var(--gray-input);
  font-size: 16px;
  line-height: 160%;
  width: 320px;
  letter-spacing: 0.3px;
}

.uberHeroBtn {
  border-radius: 6px;
  display: flex;
  padding: 14px 44px;
  justify-content: center;
  align-items: center;
  background-color: var(--red-main);
  color: var(--gray-input);
  font-size: 16px;
  font-weight: 600;
  transition:
    border-color 250ms var(--cubic),
    color 250ms var(--cubic),
    background-color 250ms var(--cubic);
}

.uberHeroBtn:hover {
  border-color: var(--white-main);
  background-color: var(--white-main);
  color: var(--red-main);
}

@media screen and (min-width: 390px) {
  .uberHeroContainer {
    width: 390px;
  }
}
@media screen and (min-width: 1440px) {
  .uberHeroSection {
    padding: 19.3rem 0 17.2rem;
    height: 64.9rem;
    background-image: url('/images/uberuns-page/uberuns-hero-desc.jpg');
  }

  .uberHeroContainer {
    width: 172.8rem;
    padding: 0 58.8rem;
  }

  .uberHeroImgMob {
    display: none;
  }

  .uberHeroImgDesc {
    display: block;
  }

  .uberHeroTitle {
    font-size: 5rem;
    width: 55.2rem;
    font-weight: 600;
    margin: 0 auto;
    margin-bottom: 1.6rem;
    text-align: center;
  }

  .uberHeroText {
    font-size: 1.8rem;
    width: 50.7rem;
    text-align: center;
  }

  .uberHeroBtn {
    margin: 0 auto;
  }

  .uberBr {
    display: none;
  }
}

@media screen and (min-width: 1728px) {
  .uberHeroSection {
    padding: 193px 0 172px;
    height: 649px;
    background-image: url('/images/uberuns-page/uberuns-hero-desc.jpg');
  }

  .uberHeroContainer {
    width: 1728px;
    padding: 0 588px;
  }

  .uberHeroTitle {
    font-size: 50px;
    width: 552px;
    margin-bottom: 16px;
  }

  .uberHeroText {
    font-size: 18px;
    width: 507px;
  }

  .uberHeroBtn {
    margin: 0 auto;
  }
}
