.JobHeroSection {
  padding: 142px 0 195px;
  position: relative;
  height: 670px;
}

.JobHeroContainer {
  width: 100%;
  padding: 0 24px;
  margin: 0 auto;
  z-index: 2;
  position: relative;
}

.JobHeroImgMob {
  object-fit: cover;
}

.JobHeroImgDesc {
  display: none;
  object-fit: cover;
}

.jobHeroLink {
  color: var(--white-main);
  font-size: 15px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
  width: 192px;
  margin-bottom: 82px;
  transition: color 250ms var(--cubic);
}

.jobHeroIcon {
  fill: var(--white-main);
  width: 18px;
  height: 18px;
  transition: fill 250ms var(--cubic);
}

.jobHeroLink:hover {
  color: var(--gray-stroke);
}

.jobHeroLink:hover .jobHeroIcon {
  fill: var(--gray-stroke);
}

.JobHeroTitle {
  color: var(--white-main);
  font-size: 36px;
  font-weight: 700;
  line-height: 130%;
  width: 330px;
  margin-right: auto;
  margin-bottom: 12px;
}

.JobHeroTextMob {
  width: 339px;
  color: var(--white-main);
  font-size: 16px;
  line-height: 160%;
  margin-right: auto;
  margin-bottom: 24px;
}

.JobHeroTextDesk {
  display: none;
}

.JobHeroBtn {
  width: 164px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 28px;
  border: 1px solid transparent;
  background-color: var(--red-main);
  margin-right: auto;
  color: var(--gray-input);
  font-size: 16px;
  gap: 8px;
  font-weight: 600;
  padding: 14px 31px;
  transition:
    border-color 250ms var(--cubic),
    color 250ms var(--cubic),
    background-color 250ms var(--cubic);
}

.JobHeroIcon {
  stroke: var(--gray-input);
  width: 23px;
  height: 23px;
  transition: stroke 250ms var(--cubic);
}

.JobHeroBtn:hover {
  border-color: var(--white-main);
  background-color: var(--white-main);
  color: var(--red-main);
}

.JobHeroBtn:hover .JobHeroIcon {
  stroke: var(--red-main);
}

@media screen and (min-width: 390px) {
  .JobHeroContainer {
    width: 390px;
  }
}

@media screen and (min-width: 1440px) {
  .JobHeroSection {
    padding: 19.2rem 0 20.7rem;
    height: 85.2rem;
  }

  .JobHeroContainer {
    width: 168.001rem;
    padding: 0 11.7rem;
  }

  .JobHeroImgMob {
    display: none;
  }

  .JobHeroImgDesc {
    display: block;
  }

  .jobHeroLink {
    font-size: 1.8rem;
    width: 21.4rem;
    margin-bottom: 17.1rem;
  }

  .JobHeroTitle {
    font-size: 6.4rem;
    width: 67.4rem;
    margin-bottom: 1.6rem;
  }

  .JobHeroTextMob {
    display: none;
  }

  .JobHeroTextDesk {
    display: block;
    color: var(--white-main);
    font-size: 2rem;
    line-height: 160%;
    margin-bottom: 4.8rem;
    width: 47.8rem;
  }

  .JobHeroBtn {
    border-radius: 0.6rem;
  }
}

@media screen and (min-width: 1728px) {
  .JobHeroSection {
    padding: 192px 0 207px;
    height: 852px;
  }

  .JobHeroContainer {
    width: 1728px;
    padding: 0 117px;
  }

  .jobHeroLink {
    font-size: 18px;
    width: 214px;
    margin-bottom: 171px;
  }

  .JobHeroTitle {
    font-size: 64px;
    width: 674px;
    margin-bottom: 16px;
  }

  .JobHeroTextDesk {
    font-size: 20px;
    margin-bottom: 48px;
    width: 478px;
  }

  .JobHeroBtn {
    border-radius: 6px;
  }
}
