.stepSixForm {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.stepSixLabel {
  color: var(--black-main);
  font-weight: 500;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 4px;
}

.stepSixInput {
  color: var(--black-main);
  font-size: 15px;
  padding: 17px 12px;
  width: 100%;
  height: 52px;
  border: 1px solid var(--gray-stroke);
  border-radius: 8px;
  outline: none;
}

.stepSixInput.error {
  border: 1px solid var(--red-main);
}

.stepSixInput::placeholder {
  font-size: 15px;
  font-weight: 400;
  color: var(--gray-text);
}

.errorText {
  position: absolute;
  right: 10px;
  top: 77px;
  width: fit-content;
  color: var(--red-main);
  font-size: 10px;
}

.stepSixBtnWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 14px;
}

.stepSixBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  border: 1px solid var(--gray-stroke);
  width: 110px;
  height: 44px;
  background-color: var(--white-main);
  outline: none;
  color: var(--black-main);
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.stepSixBtn:last-child {
  color: var(--white-main);
  border: 1px solid var(--red-main);
  background-color: var(--red-main);
}

.stepSixBtn:last-child:disabled {
  background-color: var(--white-main);
  border: 1px solid var(--gray-stroke);
  color: var(--black-main);
  cursor: not-allowed;
}

.loader > svg {
  fill: var(--white-main);
}
