.vorteileSliderWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding-top: 60px;
}

.sliderWrap {
  width: 342px;
  height: 348px;
  border-radius: 12px;
}

.slideWrap {
  position: relative;
  width: 342px;
  height: 348px;
  cursor: pointer;
  border-radius: 12px;
}

.sliderImgMob {
  object-fit: cover;
  border-radius: 12px;
}

.sliderImgDesk {
  display: none;
  object-fit: cover;
}

.sliderInfoWrap {
  height: 343px;
  width: 100%;
  padding: 24px 0 36px;
  background-color: var(--red-main);
}

.sliderInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 16px 0px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative;
}

.sliderInfoCounter {
  display: none;
}

.sliderInfo {
  width: 0px;
  margin: 0 auto;
  visibility: hidden;
  height: 0px;
  opacity: 0;
  position: absolute;
  transition: opacity 1250ms var(--cubic);
}

.sliderInfo.active {
  top: 24px;
  left: 24px;
  height: auto;
  width: 342px;
  visibility: visible;
  opacity: 1;
}

.sliderTitle {
  font-size: 30px;
  font-weight: 500;
  width: max-content;
  line-height: normal;
  margin-bottom: 12px;
  color: var(--white-main);
}

.sliderText {
  font-size: 16px;
  width: 340px;
  font-weight: 400;
  line-height: 160%;
  color: var(--white-second);
}

.sliderDotsWrap {
  position: absolute;
  top: 0;
  left: 24px;
}

.sliderButtonsWrap {
  display: none;
  gap: 8px;
}

.sliderBtn {
  cursor: pointer;
  display: flex;
  width: 73px;
  height: 73px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--gray-stroke);
  flex-shrink: 0;
  transition:
    background-color 250ms var(--cubic),
    border-color 250ms var(--cubic);
}

.nextArrow,
.prevArrow {
  stroke: var(--white-main);
  width: 24px;
  height: 24px;
  transition: stroke 250ms var(--cubic);
}

.nextArrow {
  transform: rotate(180deg);
}

.sliderBtn:hover {
  border-color: var(--white-main);
  background-color: var(--white-main);
}

.sliderBtn:hover .nextArrow,
.sliderBtn:hover .prevArrow {
  stroke: var(--red-main);
}

@media screen and (min-width: 390px) {
  .sliderInfoContainer {
    padding: 24px 24px 0px;
    width: 390px;
    height: 100%;
    position: relative;
  }
}
@media screen and (min-width: 1440px) {
  .vorteileSliderWrap {
    padding-top: unset;
    height: 83.7rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: unset;
  }

  .sliderImgWrap {
    width: calc(100% / 2);
    height: 100%;
  }

  .sliderWrap {
    border-radius: unset;
    margin: unset;
    width: 100%;
    height: 100%;
  }

  .slideWrap {
    border-radius: unset;
    width: 100%;
    height: 83.7rem;
    position: unset;
  }

  .sliderImgMob {
    display: none;
  }

  .sliderImgDesk {
    display: block;
  }

  .sliderInfoContainer {
    padding: unset;
    width: 62rem;
    margin: unset;
    position: relative;
  }

  .sliderInfoWrap {
    width: calc(100% / 2);
    padding: 4.8rem 0rem 5.6rem 5.9rem;
    height: 83.7rem;
  }

  .sliderInfoCounter {
    top: 0;
    left: 0;
    height: fit-content;
    font-size: 1.8rem;
    position: absolute;
    display: block;
    font-weight: 400;
    line-height: 160%;
    color: var(--white-main);
  }

  .sliderInfo {
    width: auto;
    margin: 0;
  }

  .sliderInfo.active {
    top: 22.3rem;
    left: 0;
    width: 62rem;
  }

  .sliderTitle {
    font-size: 6.4rem;
    line-height: 130%;
    margin-bottom: 2.4rem;
  }

  .sliderText {
    font-size: 1.8rem;
    max-width: 62rem;
  }

  .sliderControllers {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin: 0;
  }

  .sliderDotsWrap {
    top: 72.8rem;
    left: 0;
    height: fit-content;
  }

  .sliderBtn {
    width: 7.3rem;
    height: 7.3rem;
  }

  .sliderButtonsWrap {
    display: flex;
    gap: 0.8rem;
    position: absolute;
    bottom: -0.2rem;
    right: -14.2rem;
  }
}

@media screen and (min-width: 1728px) {
  .vorteileSliderWrap {
    height: 837px;
  }

  .slideWrap {
    height: 837px;
  }

  .sliderInfoWrap {
    height: 837px;
    padding: 48px 0px 56px 59px;
  }

  .sliderInfoContainer {
    width: 620px;
  }

  .sliderInfoCounter {
    font-size: 18px;
  }

  .sliderDotsWrap {
    top: 728px;
  }

  .sliderInfo.active {
    top: 223px;
    width: 620px;
  }

  .sliderTitle {
    font-size: 64px;
    margin-bottom: 24px;
  }

  .sliderTitle.first {
    width: 378px;
  }

  .sliderText {
    font-size: 18px;
    max-width: 620px;
  }

  .sliderBtn {
    width: 73px;
    height: 73px;
  }

  .sliderButtonsWrap {
    gap: 8px;
    bottom: -2px;
    right: -142px;
  }
}
