.redHelpItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 340px;
  padding: 36px 31px;
  border-radius: 12px;
  background-color: var(--white-main);
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 5.5px;
  background: var(--red-main);
  box-shadow: 0px 0.909px 1.818px 0px rgba(16, 24, 40, 0.04);

  margin-bottom: 20px;
}

.title {
  font-size: 22px;
  font-weight: 600;
  line-height: 160%;
  color: var(--gray-dark-text);
  margin-bottom: 8px;
}

.text {
  font-size: 15px;
  font-weight: 400;
  line-height: 150%;
  color: var(--gray-text);
  margin-bottom: 26px;
}

.actions {
  display: flex;
  gap: 10px;
}

.animated {
  transition: all 0.2s var(--cubic);
}

.contactLink {
  font-size: 16px;
  font-weight: 600;
  line-height: normal;

  color: var(--red-main);
  padding: 15px 20px;
  border: 1px solid var(--gray-stroke);
  border-radius: 5.2px;
}

.contactLink:hover {
  background-color: var(--red-main);
  color: var(--white-main);
}

.socialLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid var(--gray-stroke);
}

.socialLink:hover {
  background-color: var(--red-main);
  border-color: var(--white-main);
}

.socialLink:hover .socialIcon {
  fill: var(--white-main);
}

.socialIcon {
  fill: var(--red-main);
}

@media screen and (min-width: 390px) {
  .redHelpItem {
    width: 342px;
  }
}

@media screen and (min-width: 1440px) {
  .redHelpItem {
    padding: 4.8rem 3.6rem;
    height: 43rem;
    width: 39.2rem;
  }

  .text {
    font-size: 1.6rem;
    max-width: 31rem;
  }
}

@media screen and (min-width: 1728px) {
  .redHelpItem {
    padding: 48px 36px;
    height: 372px;
    width: 392px;
  }

  .text {
    font-size: 16px;
    max-width: 310px;
  }
}
