.advantagesList {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0 auto;
}

.advantagesItem {
  background-color: var(--white-main);
  border-radius: 16px;
  user-select: none;
  padding: 24px 32px;
  height: 332px;
  border: 1px solid var(--gray-stroke);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
  transition: background-color 250ms var(--cubic);
}

.advantagesItem:hover {
  background-color: var(--red-main);
}

.advantagesIconWrap {
  background-color: var(--red-main);
  border-radius: 8px;
  padding: 12px;
  width: 56px;
  height: 56px;
  border: 1px solid var(--gray-stroke);
  margin-right: auto;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
}

.advantagesIcon {
  width: 32px;
  height: 32px;
}

.advantagesTitle {
  color: var(--gray-dark-text);
  font-size: 22px;
  font-weight: 600;
  width: fit-content;
  margin-right: auto;
  margin-bottom: 4px;
  line-height: 136.3%;
  transition: color 250ms var(--cubic);
}

.advantagesText {
  color: var(--gray-text);
  font-size: 15px;
  width: 278px;
  line-height: 160%;
  text-align: center;
  text-align: left;
  height: 96px;
  letter-spacing: -0.15px;
  margin-right: auto;
  margin-bottom: 24px;
  transition: color 250ms var(--cubic);
}

.advantagesItem:last-child .advantagesText {
  letter-spacing: unset;
}

.advantagesLink {
  display: flex;
  justify-content: center;
  width: 136px;
  height: 46px;
  align-items: center;
  border-radius: 28px;
  border: 1px solid var(--gray-stroke);
  background-color: transparent;
  margin-right: auto;
  color: var(--gray-dark-text);
  font-size: 15px;
  gap: 6px;
  font-weight: 600;
  transition:
    background-color 250ms var(--cubic),
    border-color 250ms var(--cubic),
    color 250ms var(--cubic);
  padding: 12px 0;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
}

.advantagesItem:hover .advantagesTitle,
.advantagesItem:hover .advantagesText {
  color: var(--white-main);
}

.advantagesItem:hover .advantagesLink {
  color: var(--red-main);
  background-color: var(--white-main);
  border: 1px solid var(--white-main);
}

.advantagesLinkIcon {
  stroke: var(--gray-dark-text);
  transition: stroke 250ms var(--cubic);
}

.advantagesItem:hover .advantagesLinkIcon {
  stroke: var(--red-main);
}

@media screen and (min-width: 1440px) {
  .advantagesList {
    gap: 2rem;
    flex-direction: row;
    height: max-content;
    width: fit-content;
    flex-wrap: wrap;
    justify-content: center;
  }

  .advantagesItem {
    width: 39.2rem;
    height: 34.3rem;
    padding: 3.2rem;
    border-radius: 1.6rem;
  }

  .advantagesTitle {
    margin-bottom: 1.2rem;
  }

  .advantagesText {
    margin-bottom: 2.4rem;
    line-height: 150%;
    font-size: 1.4rem;
    letter-spacing: unset;
    width: 32.8rem;
    height: 9.2rem;
  }

  .advantagesItem:nth-child(1) .advantagesText {
    width: 31rem;
  }

  .advantagesItem:nth-child(4) .advantagesText {
    width: 31rem;
  }

  .advantagesLink {
    width: 13.8rem;
    font-size: 1.5rem;
    height: 4.5rem;
    border-radius: 2.8rem;
  }

  .advantagesIconWrap {
    padding: 1.2rem;
    border-radius: 0.8rem;
    margin-bottom: 2.4rem;
  }
}

@media screen and (min-width: 1728px) {
  .advantagesList {
    gap: 20px;
    height: 706px;
  }

  .advantagesItem {
    width: 392px;
    height: 343px;
    padding: 32px;
    border-radius: 16px;
  }

  .advantagesTitle {
    margin-bottom: 12px;
  }

  .advantagesText {
    margin-bottom: 24px;
    font-size: 15px;
    width: 328px;
    height: 92px;
  }

  .advantagesItem:nth-child(1) .advantagesText {
    width: 310px;
  }

  .advantagesItem:nth-child(4) .advantagesText {
    width: 310px;
  }

  .advantagesLink {
    width: 136px;
    height: 44px;
    font-size: 15px;
    border-radius: 28px;
  }

  .advantagesIconWrap {
    padding: 12px;
    width: 56px;
    height: 56px;
    border-radius: 8px;
    margin-bottom: 24px;
  }

  .advantagesIcon {
    width: 32px;
    height: 32px;
  }
}
