.productSection {
  padding: 60px 0;
}
.productContainer {
  width: 100%;
  padding: 0 24px;
  margin: 0 auto;
}
.productMainTitle {
  color: var(--black-main);
  font-size: 24px;
  font-weight: 700;
  line-height: 130%;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 12px;
}
.productMainText {
  color: var(--gray-text);
  width: fit-content;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
}

@media screen and (min-width: 390px) {
  .productContainer {
    width: 390px;
  }
}

@media screen and (min-width: 1728px) {
  .productSection {
    padding: 100px 0;
  }
  .productContainer {
    width: 1728px;
    padding: 0 234px;
  }
  .productMainTitle {
    font-size: 50px;
    margin-bottom: 10px;
  }
  .productMainText {
    font-size: 18px;
    margin-bottom: 50px;
  }
}
