.visionImgWrap {
  padding: 45px 0 47px;
  height: 477px;
  background-color: var(--white-main);
}

.visionImgContainer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
}

.visionImgMob,
.visionImgDesc {
  display: block;
  position: absolute;

  opacity: 0;
  transition: opacity 750ms var(--cubic);
}

.visionImgDesc {
  display: none;
}

.first {
  width: 306px;
  height: 355px;
  transform: rotate(2.983deg);
  z-index: 3;
}

.second {
  top: 27px;
  left: 65px;
  width: 280px;
  height: 340px;
  z-index: 2;
  transform: rotate(-10.113deg);
}

.third {
  top: 8px;
  width: 280px;
  height: 340px;
  z-index: 1;
}

.visible {
  opacity: 1;
}

.visionTextWrap {
  background-color: var(--red-main);
  padding: 64px 0px;
  height: 396px;
}

.visionTextContainer {
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
  visibility: hidden;
  height: 0px;
  opacity: 0;
  transition: opacity 1250ms var(--cubic);
}

.visionTextContainer.active {
  height: auto;
  visibility: visible;
  opacity: 1;
}

.visionTitle {
  color: var(--white-main);
  font-size: 36px;
  font-weight: 500;
  width: fit-content;
  margin-bottom: 16px;
  transition: opacity 250ms var(--cubic);
}

.visionText {
  color: var(--white-second);
  font-size: 16px;
  width: 341px;
  margin: 0 auto;
  line-height: 160%;
  transition: opacity 250ms var(--cubic);
}

.visionBtnWrap {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 32px;
}

.visionBtn {
  cursor: pointer;
  display: flex;
  width: 73px;
  height: 73px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--gray-stroke);
  flex-shrink: 0;
  transition:
    background-color 250ms var(--cubic),
    border-color 250ms var(--cubic);
}

.visionBtn:hover {
  border-color: var(--red-main);
  background-color: var(--red-main);
}

.nextArrow,
.prevArrow {
  stroke: var(--gray-text);
  width: 24px;
  height: 24px;
  transition: stroke 250ms var(--cubic);
}

.nextArrow {
  transform: rotate(180deg);
}

.visionBtn:hover .nextArrow,
.visionBtn:hover .prevArrow {
  stroke: var(--white-main);
}

.visionCount {
  display: none;
}

.visionDotsWrap {
  display: none;
}

@media screen and (min-width: 390px) {
  .visionTextContainer,
  .visionImgContainer {
    width: 390px;
  }
}

@media screen and (min-width: 1440px) {
  .visionMainWrap {
    display: flex;
    position: relative;
    justify-content: space-between;
  }

  .visionBtnWrap {
    position: absolute;
    bottom: 5.6rem;
    right: 5.4rem;
    z-index: 1;
    margin: unset;
  }

  .visionBtn {
    border-color: var(--white-main);
  }

  .visionBtn:hover {
    border-color: var(--white-main);
    background-color: var(--white-main);
  }

  .nextArrow,
  .prevArrow {
    stroke: var(--white-main);
  }

  .visionBtn:hover .nextArrow,
  .visionBtn:hover .prevArrow {
    stroke: var(--red-main);
  }

  .visionImgWrap {
    width: calc(100% / 2);
    height: 83.7rem;
    position: static;
    padding: 7rem 0px 6.2rem;
  }
  .visionImgMob {
    display: none;
  }

  .visionImgDesc {
    display: block;
  }

  .visionTextWrap {
    width: calc(100% / 2);
    height: 83.7rem;
    padding: 27.1rem 4.6rem 5.6rem 5.9rem;
    position: relative;
  }

  .visionTextContainer {
    margin: unset;
    width: 55.1rem;
    position: relative;
    padding: unset;
  }

  .visionImgContainer {
    width: 60rem;
  }

  .first {
    width: 54.6rem;
    height: 63.6rem;
  }

  .second {
    top: 4rem;
    left: 7rem;
    width: 50rem;
    height: 60.8rem;
  }

  .third {
    top: 1.5rem;
    width: 50rem;
    height: 60.8rem;
  }

  .visionTitle {
    font-size: 6.4rem;
    margin-bottom: 2.4rem;
  }

  .visionText {
    font-size: 1.8rem;
    width: 55.1rem;
    height: 17.4rem;
    margin: unset;
  }

  .visionCount {
    display: block;
    color: var(--white-second);
    font-size: 1.8rem;
    line-height: 160%;
    width: fit-content;
    position: absolute;
    top: 4.8rem;
    left: 5.9rem;
  }

  .visionDotsWrap {
    display: block;
    width: fit-content;
    position: absolute;
    bottom: 5.6rem;
    left: 5.9rem;
  }
}

@media screen and (min-width: 1728px) {
  .visionBtnWrap {
    bottom: 56px;
    right: 54px;
  }

  .visionImgWrap {
    height: 837px;
    padding: 70px 0px 62px;
  }

  .visionTextWrap {
    height: 837px;
    padding: 271px 46px 56px 59px;
  }

  .visionTextContainer {
    width: 551px;
  }

  .visionImgContainer {
    width: 600px;
  }

  .first {
    width: 546px;
    height: 636px;
  }

  .second {
    top: 40px;
    left: 70px;
    width: 500px;
    height: 608px;
  }

  .third {
    top: 15px;
    width: 500px;
    height: 608px;
  }

  .visionTitle {
    font-size: 64px;
    margin-bottom: 24px;
  }

  .visionText {
    font-size: 18px;
    width: 551px;
    height: 174px;
  }

  .visionCount {
    font-size: 18px;
    top: 48px;
    left: 59px;
  }

  .visionDotsWrap {
    bottom: 56px;
    left: 59px;
  }
}
