.amenitiesList {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  margin: 0 auto;
  width: fit-content;
  margin-bottom: 48px;
}

.amenitiesItem {
  user-select: none;
  cursor: pointer;
  display: flex;

  flex-direction: column;
  height: 178px;
  width: 342px;
  padding: 26px;
  border-radius: 16px;
  border: 1px solid var(--gray-stroke);
  background-color: var(--white-main);
  transition: all 0.3s ease-in-out;
}

.amenitiesItem:hover {
  background-color: var(--red-main);
}

.amenitiesItem:first-child {
  border: 1px solid var(--red-main);
  background-color: var(--red-main);
  box-shadow: unset;
}

.amenitiesItem:first-child:hover {
  background-color: var(--white-main);
  border-color: var(--gray-stroke);
}

.amenitiesTitle {
  color: var(--black-main);
  font-size: 24px;
  font-weight: 600;
  width: fit-content;
  margin-right: auto;
  margin-bottom: 10px;
  display: flex;
  gap: 4px;
  line-height: 130%;
  transition: 0.3s ease-in-out;
}

.amenitiesItem:first-child .amenitiesTitle {
  color: var(--white-main);
}

.amenitiesItem:hover .amenitiesTitle {
  color: var(--white-main);
}

.amenitiesItem:first-child:hover .amenitiesTitle {
  color: var(--black-main);
}

.amenitiesTextList {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.amenitiesTextItem {
  display: flex;
  align-items: center;
  gap: 5px;
}

.amenitiesText {
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  color: var(--gray-text);
  transition: 0.3s ease-in-out;
}

.amenitiesItem:first-child .amenitiesText {
  color: var(--white-main);
}

.amenitiesItem:hover .amenitiesText {
  color: var(--white-main);
}

.amenitiesItem:first-child:hover .amenitiesText {
  color: var(--gray-text);
}

.amenitiesIcon {
  width: 14px;
  height: 14px;
  stroke: var(--gray-text);
  transition: 0.3s ease-in-out;
}

.amenitiesItem:first-child .amenitiesIcon {
  stroke: var(--gray-input);
}

.amenitiesItem:hover .amenitiesIcon {
  stroke: var(--white-main);
}

.amenitiesItem:first-child:hover .amenitiesIcon {
  stroke: var(--gray-text);
}

@media screen and (min-width: 1440px) {
  .amenitiesList {
    flex-direction: row;
    margin-bottom: unset;
  }

  .amenitiesItem {
    width: 46.2rem;
    height: 22.7rem;
    padding: 3.6rem;
  }

  .amenitiesTitle {
    font-size: 3.2rem;
    gap: 0.7rem;
  }

  .amenitiesTextList {
    gap: 0.6rem;
  }

  .amenitiesText {
    font-size: 1.8rem;
  }

  .amenitiesIcon {
    width: 1.6rem;
    height: 1.6rem;
  }
}

@media screen and (min-width: 1728px) {
  .amenitiesItem {
    width: 462px;
    height: 227px;
    padding: 36px;
  }

  .amenitiesTitle {
    font-size: 32px;
    gap: 7px;
  }

  .amenitiesTextList {
    gap: 6px;
  }

  .amenitiesText {
    font-size: 18px;
  }

  .amenitiesIcon {
    width: 16px;
    height: 16px;
  }
}
