.amenitiesList {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  margin-bottom: 54px;
}

.amenitiesItem {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  height: 197px;
  width: 342px;
  padding: 24px 26px;
  overflow: hidden;
  border-radius: 11.819px;
  border: 1px solid var(--gray-stroke);
  background-color: var(--white-main);
  transition: all 0.3s ease-in-out;
}

.amenitiesItem.active {
  height: 269px;
}

.amenitiesItem:first-child {
  border: 1px solid var(--red-main);
  background-color: var(--red-main);
  box-shadow: unset;
}

.amenitiesItem:first-child.active {
  height: 293px;
}

.amenitiesItem:last-child.active {
  height: 317px;
}

.amenitiesMainWrap {
  width: 242px;
}

.amenitiesItem:nth-child(2) .amenitiesMainWrap {
  width: 238px;
}

.amenitiesMainTitle {
  color: var(--black-main);
  font-size: 36px;
  font-weight: 600;
  width: fit-content;
  margin-right: auto;
  margin-bottom: 6px;
  line-height: 130%;
}

.amenitiesItem:first-child .amenitiesMainTitle {
  color: var(--white-main);
}

.amenitiesTitle {
  color: var(--black-main);
  font-size: 18px;
  font-weight: 600;
  line-height: 130%;
  width: fit-content;
  margin-right: auto;
  margin-bottom: 6px;
}

.amenitiesItem:first-child .amenitiesTitle {
  color: var(--white-main);
}

.amenitiesText {
  width: 242px;
}

.amenitiesText,
.amenitiesExtraText {
  font-size: 15px;
  font-weight: 400;
  line-height: 160%;
  color: var(--gray-text);
}

.amenitiesItem:first-child .amenitiesText,
.amenitiesItem:first-child .amenitiesExtraText {
  color: rgba(255, 255, 255, 0.85);
}

.amenitiesExtraText {
  opacity: 0;
  height: 0px;
  transition: all 0.2s ease-in-out;
}

.amenitiesExtraText.active {
  height: auto;
  opacity: 1;
}

.amenitiesBtn {
  position: absolute;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.481px solid var(--white-main);
  border-radius: 50%;
  background-color: var(--red-main);
  outline: none;
  bottom: 19px;
  right: 26px;
}

.amenitiesItem:first-child .amenitiesBtn {
  background-color: transparent;
  border: 2px solid var(--white-main);
}

.amenitiesItem:first-child .amenitiesIcon {
  stroke: var(--white-main);
}

.amenitiesIcon {
  width: 16px;
  height: 16px;
  stroke: var(--white-main);
  transform: rotate(90deg);
  transition: all 0.3s ease-in-out;
}

.amenitiesIcon:last-child {
  opacity: 0;
  visibility: hidden;
  transform: unset;
  width: 0px;
  height: 0px;
}

.amenitiesIcon.active {
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
}

.amenitiesIcon:last-child.active {
  opacity: 1;
  visibility: visible;
  width: 16px;
  height: 16px;
}

@media screen and (min-width: 1440px) {
  .amenitiesList {
  }

  .amenitiesItem {
  }

  .amenitiesMainTitle {
  }
  .amenitiesTitle {
  }

  .amenitiesText {
  }

  .amenitiesBtn {
  }
  .amenitiesIcon {
  }
}

@media screen and (min-width: 1728px) {
  .amenitiesList {
  }

  .amenitiesItem {
  }

  .amenitiesMainTitle {
  }
  .amenitiesTitle {
  }

  .amenitiesText {
  }

  .amenitiesBtn {
  }
  .amenitiesIcon {
  }
}
