.stepTwoList {
  width: 340px;
  height: 288px;
  padding: 24px;
  background-color: var(--gray-input);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  justify-content: center;
  margin-bottom: 36px;
  border-radius: 16px;
}

.stepTwoItem {
  cursor: pointer;
  width: 292px;
  height: 72px;
  padding: 16px 20px;
  border-radius: 8px;
  background-color: var(--white-main);
  box-shadow: 4px 12px 19px 0px rgba(24, 24, 24, 0.08);
  transition: all 0.3s ease-in-out;
}

.stepTwoItem.active {
  background-color: var(--red-main);
}

.stepTwoWrap {
  display: flex;
  align-items: center;
  gap: 18px;
}

.stepTwoIcon {
  width: 40px;
  height: 40px;
  fill: #3b3c4a;
  transition: all 0.3s ease-in-out;
}

.stepTwoIcon.active {
  fill: var(--white-main);
}

.stepTwoTitle {
  color: #3b3c4a;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.stepTwoTitle.active {
  color: var(--white-main);
}

@media screen and (min-width: 390px) {
}

@media screen and (min-width: 1440px) {
}

@media screen and (min-width: 1728px) {
}
