.stepOneList {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  width: 300px;
  height: 164px;
  margin: 0 auto;
  background-color: var(--gray-input);
  border-radius: 16px;
  padding: 24px;
  margin-bottom: 36px;
}

.stepOneItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 116px;
  height: 116px;
  border-radius: 10px;
  background-color: var(--white-main);
  padding-top: 34px;
  padding-bottom: 6px;
  box-shadow: 4px 12px 19px 0px rgba(24, 24, 24, 0.12);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.stepOneItem.active {
  background-color: var(--red-main);
}

.stepOneWrap {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
}

.stepOneIcon {
  width: 34px;
  height: 34px;
  fill: var(--gray-dark-text);
  transition: all 0.3s ease-in-out;
}

.stepOneIcon.active {
  fill: var(--white-main);
}

.stepOneTitle {
  font-size: 15px;
  font-weight: 600;
  color: var(--gray-dark-text);
  line-height: 160%;
  transition: all 0.3s ease-in-out;
}

.stepOneTitle.active {
  color: var(--white-main);
}

@media screen and (min-width: 390px) {
}

@media screen and (min-width: 1440px) {
}

@media screen and (min-width: 1728px) {
}
