.sendEmailSection {
  background-color: var(--red-main);
  padding: 100px 0;
}

.sendEmailContainer {
  width: 100%;
  padding: 0 12px;
  margin: 0 auto;
}

.sendEmailTopText {
  color: var(--white-main);
  font-weight: 500;
  line-height: 160%;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 16px;
}

.sendEmailTitle {
  color: var(--white-main);
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 130%;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 26px;
}

.sendEmailList {
  display: flex;
  flex-wrap: wrap;
  width: 264px;
  margin: 0 auto;
  gap: 20px 22px;
}

.sendEmailItem {
  display: flex;
  gap: 14px;
  align-items: center;
}

.sendEmailItem:last-child {
  margin: 0 auto;
}

.sendEmailIconWrap {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--red-second);
}

.sendEmailIcon {
  width: 12px;
  height: 12px;
  stroke: var(--white-main);
}

.sendEmailText {
  color: var(--white-main);
  font-size: 15px;
  font-weight: 500;
  width: fit-content;
}

@media screen and (min-width: 390px) {
  .sendEmailContainer {
    width: 390px;
    padding: 0 24px;
  }
}

@media screen and (min-width: 1728px) {
  .sendEmailSection {
    padding: 200px 0;
  }

  .sendEmailContainer {
    width: 1728px;
    padding: 0 468px;
  }

  .sendEmailTopText {
    margin-bottom: 8px;
  }

  .sendEmailTitle {
    font-size: 50px;
    width: 792px;
    margin-bottom: 40px;
  }

  .sendEmailBr {
    display: none;
  }

  .sendEmailForm {
    margin-bottom: 32px;
    flex-direction: row;
    gap: unset;
    justify-content: center;
    height: 46px;
    margin: 0 auto;
    margin-bottom: 32px;
  }

  .sendEmailInput {
    width: 416px;
    padding: 12px 16px;
    border-radius: 6px 0px 0px 6px;
  }

  .sendEmailInput::placeholder {
    line-height: 146.6%;
  }

  .sendEmailBtn {
    width: 96px;
    padding: 12px;
    border-radius: 0 6px 6px 0;
  }

  .sendEmailList {
    width: 478px;
    justify-content: space-between;
    gap: unset;
    flex-wrap: nowrap;
  }

  .sendEmailItem {
    gap: 16px;
  }

  .sendEmailItem:last-child {
    margin: unset;
  }

  .sendEmailText {
    font-size: 16px;
    line-height: 160%;
  }
}
