.stepSixForm {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.stepSixLabel {
  color: var(--gray-dark-text);
  font-weight: 500;
  line-height: 142.8%;
  font-size: 14px;
  letter-spacing: -0.1px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 8px;
}

.stepSixInput {
  color: var(--black-main);
  font-size: 15px;
  padding: 12px 12px;
  width: 100%;
  height: 46px;
  border: 1px solid var(--gray-stroke);

  border-radius: 8px;
  background-color: var(--gray-input);
  outline: none;
}

.stepSixInput.error {
  border: 1px solid var(--red-main);
}

.stepSixInput::placeholder {
  font-size: 15px;
  color: var(--gray-text);
}

.errorText {
  position: absolute;
  right: 10px;
  top: 77px;
  width: fit-content;
  color: var(--red-main);
  font-size: 10px;
}

.leadStepSixBtn {
  font-size: 16px;
  font-weight: 500;
  border-radius: 28px;
  border: 1px solid var(--red-main);
  background-color: var(--red-main);
  color: var(--white-main);
  padding: 17px 148px;
  width: 100%;
  height: 52px;
  margin: 0 auto;
  margin-top: 18px;
}

.leadStepSixBtn:disabled {
  background-color: transparent;
  border: 1px solid var(--gray-stroke);
  color: var(--black-main);
}

.leadStepSixBtnDesc {
  display: none;
}

@media screen and (min-width: 1440px) {
  .stepSixForm {
    gap: 2.4rem 2rem;
    height: 17.2rem;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    height: auto;
  }

  .stepSixLabel {
    width: 29rem;
    font-size: 1.4rem;
  }

  .leadStepSixBtn {
    display: none;
  }

  .leadStepSixBtnDesc {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    width: 11.6rem;
    height: 4.6rem;
    color: var(--black-main);
    font-size: 1.6rem;
    font-weight: 500;
    padding: 1.3rem 2.2rem;
    border-radius: 0.6rem;
    border: 1px solid var(--gray-stroke);
    background-color: var(--white-main);
    margin-left: auto;
    margin-top: 13rem;
    transition:
      border-color 250ms var(--cubic),
      color 250ms var(--cubic),
      background-color 250ms var(--cubic);
  }

  .leadStepSixBtnDesc:disabled {
    color: var(--gray-text);
    cursor: not-allowed;
  }

  .stepSixInput {
    font-size: 1.5rem;
    padding: 1.2rem 1.2rem;
    height: 4.6rem;
    border-radius: 0.6rem;
  }

  .leadIcon {
    width: 2rem;
    height: 2.1rem;
    stroke: var(--black-main);
    transition: stroke 250ms var(--cubic);
  }

  .leadStepSixBtnDesc:disabled .leadIcon {
    stroke: var(--gray-text);
  }

  .leadStepSixBtnDesc:not(:disabled):hover {
    border-color: var(--red-main);
    background-color: var(--red-main);
    color: var(--white-main);
  }

  .leadStepSixBtnDesc:not(:disabled):hover .leadIcon {
    stroke: var(--white-main);
  }
}

@media screen and (min-width: 1728px) {
  .stepSixForm {
    gap: 24px 20px;
    height: 172px;
  }

  .stepSixLabel {
    width: 290px;
    font-size: 14px;
  }

  .leadStepSixBtnDesc {
    gap: 6px;
    width: 116px;
    height: 46px;
    font-size: 16px;
    padding: 13px 22px;
    border-radius: 6px;
    margin-top: 130px;
  }

  .leadIcon {
    width: 20px;
    height: 21px;
  }

  .stepSixInput {
    font-size: 15px;
    padding: 12px 12px;
    height: 46px;
    border-radius: 6px;
  }
}
