.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100dvh;
  padding: 18px 0 90px;
  overflow-y: scroll;
  background-color: var(--black-main);
}

.menuTopWrap {
  width: 100%;
  padding: 0 24px;
  margin: 0 auto;
  padding-bottom: 18px;
  margin-bottom: 36px;
}

.menuCrossBtn {
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  border: none;
  margin-left: auto;
}

.menuCrossIcon {
  stroke: var(--white-main);
  transition: stroke 250ms var(--cubic);
}
.menuCrossIcon:hover {
  stroke: var(--gray-text);
}

.menuNav {
  margin-bottom: 44px;
}

.menuBtn {
  width: 342px;
  height: 48px;
  display: flex;
  padding: 12px 91px 12px 97px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border: none;
  color: var(--gray-input);
  background-color: var(--red-main);
  font-size: 16px;
  font-weight: 600;
  line-height: 0.95;
  border-radius: 28px;
  margin: 0 auto;
  margin-bottom: 60px;
  transition:
    background-color 250ms var(--cubic),
    color 250ms var(--cubic);
}

.menuBtnIcon {
  stroke: var(--white-main);
  transition: stroke 250ms var(--cubic);
}

.menuBtn:hover {
  background-color: var(--white-main);
  color: var(--red-main);
}

.menuBtn:hover .menuBtnIcon {
  stroke: var(--red-main);
}

@media screen and (min-width: 390px) {
  .menuTopWrap {
    width: 390px;
  }

  .menuSubmitBtn {
    width: 342px;
  }
}

@media screen and (min-width: 1728px) {
  .menu {
    display: none;
  }
}
